
@{
    ViewData["Title"] = "گواهینامه ها و تاییدیه ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>گواهینامه ها و <span class="color">تاییدیه ها</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="row CertDiv"></div>
            </div>


        </div>
        <br /><br />
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>تقدیرنامه<span class="color"> ها</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="row TagdirDiv"></div>
            </div>


        </div>
        <br /><br />
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>افتخار<span class="color">ات</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="row EfteDiv"></div>
            </div>


        </div>
        <br /><br />

    </div>
</section>

@section scripts {
    <script src="~/js/Certificate.js"></script>
}


