
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section id="contact-us" class="direction">
    <div class="container">

        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>تماس <span class="color">با ما</span></h2>
                <div class="border"></div>
            </div>

            <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                <h3>جزئیات تماس</h3>
                <br />
                <div class="contact-details">
                    <div class="con-info clearfix">
                        <i class="fa fa-home fa-lg"></i>
                        <span id="txtAddress">ایران, تبریز ، بلوار  29بهمن ، برج شهر ، طبقه 6 واحد G </span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="fa fa-phone fa-lg"></i>
                        <span id="txtPhone1">041-33300898</span>
                    </div>
                    <div class="con-info clearfix">
                        <i class="fa fa-phone fa-lg"></i>
                        <span id="txtPhone2">041-33248322</span>
                    </div>

                    <div class="con-info clearfix">
                                                <i class="fa fa-whatsapp fa-lg"></i>
                        <span id="txtWhats">09058172829</span>
                    </div>
                    <div class="con-info clearfix">
                        
                        <i class="fa fa-telegram fa-lg"></i>

                        <span id="txtTele">09058172829</span>
                    </div>
                    <div class="con-info clearfix">
                        <i class="fa fa-envelope fa-lg"></i>
                        <span id="txtEmail">info@Cama-energy.com</span>
                    </div>
                </div>
            </div>

            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" method="post" action="sendmail.php" role="form">

                    <div class="form-group">
                        <input type="text" placeholder="نام شما" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="ایمیل شما" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="عنوان" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="پیام" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        متشکرم. پیام شما با موفقیت ارسال شد :)
                    </div>

                    <div id="mail-fail" class="error">
                        با عرض پوزش, نمیدانم چه اتفاقی افتاد. بعدا امتحان کن :(
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="ارسال">
                    </div>

                </form>
            </div>


        </div>
    </div>


</section>

@section scripts {
    <script src="~/js/ContactUs.js"></script>
}
