
@{
    ViewData["Title"] = "انرژی میتر ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">انرژی میتر ( Energy Meter)</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <p style="line-height: 2;" align="justify">
                            از آنجا كه 67% از انرژي مصرف شده در ساختمانها صرف گرمايش، 91% صرف توليد آب گرم مصرفي و 5% صرف پخت و پز مي شود، اندازه گيري انرژي گرمايش و سرمايش در كنار اندازه گيري انرژي براي توليد آب گرم مصرفي كمك شاياني در تعيين سهم واقعي هر آپارتمان از كل انرژي مصرفي دارد. بر خلاف تصور عموم؛ مهمترين عامل موثر بر ميزان مصرف انرژي در يك آپارتمان، متراژ آپارتمان نيست؛ بلكه عادت گرمايي ساكنين يا به عبارتي، دمايي است كه محيط آپارتمان روي آن تنظيم شده است و اين در حالي است كه هر 9 درجه افزايش دما در آپارتمان موجب افزايش 7 درصدي مصرف انرژي مي شود .
                        </p>
                        <p style="line-height: 2;" align="justify">
                            اثرات زيست محيطي استفاده اضافي از منابع انرژي همراه با اثر مالي اين مقدار تفاوت مصرف، با توجه به تصاعدي بودن هزينه هاي انرژي در كشورمان بسيار بيش از اين مقدار است . از جديدترين روش هايي كه قابليت دارد تا اين مشكل را مرتفع سازد سامانه هوشمند تفكيك قبوض كنتورهاي مشترک است. اين سامانه با تفكيك هر يك از هزينه هاي انرژي )گاز و برق( و آب مصرفي در يك ساختمان، استفاده كنندگان از واحد مسكوني را تشويق و ترغيب به كاهش مصرف انرژي و آب مي نمايد. لذا اين موضوع سبب كاهش مصرف انرژي وآب در كل ساختمان خواهد شد و با صرفه جويي در هزينه هاي فردي و پياده سازي عدالت بين مصرف كنندگان ، استفاده بهينه از سرمايه ملي را نيز به همراه خواهد داشت.
                        </p>

                        <span class="ph1">انرژی میتر ( کنتور انرژی ) چیست ؟</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            انرژي ميتر ( Energy Meter) يك سامانه محاسبه گر ميزان مصرف انرژي در بخش هاي مختلف يك ساختمان مي باشد، اين سامانه با قرار دادن حسگرهاي دما و جريان آب بر روي لوله، قابليت محاسبه انرژي مصرفي به همراه آب مصرفي هر يك از واحد ها را به شرح ذيل دارد:
                        </p>

                        <br />
                        <ul>
                            <li>1- محاسبه انرژي حرارتي و برودتي هر يك از واحد ها در بخش تهويه )رادياتور، فن كويل و …( در فصول سرد و گرم</li>
                            <li>2- محاسبه انرژي حرارتي مصرف شده آبگرم بهداشتي )آبگرم مصرف شده در آشپرخانه، حمام، سرويس بهداشتی و ...) </li>
                            <li>
                                3- محاسبه ميزان حجم آب مصرفي هر واحد در بخش آب سرد و آب گرم بهداشتي )آب مصرف شده در آشپرخانه، حمام، سرويس
                                بهداشتي و ...)
                            </li>



                        </ul>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            دستگاه انرژي ميتر ادارای قابليت های ویژه‌ای هستند كه در ذيل به برخي ازاین  قابليت ها اشاره ميگردد:
                        </p>

                        <ul>
                            <li>1- محاسبه انرژي دريافتي هر واحد حاصل از سرمايش و يا گرمايش مركزي برحسب kcal</li>
                            <li>2- محاسبه ميزان آب گرم مصرفي هرواحد </li>
                            <li>3- محاسبه ميزان آب سرد مصرفي هرواحد </li>
                            <li>4- محاسبه ميزان كمترين مصرف واحد و تعيين مصرف واحد</li>
                            <li>5-  متوسط مصرف ماهيانه واحدها </li>
                            <li>6-  محاسبه صورت حساب براي هرواحد درپايان ماه و يا در زمان صدور قبض</li>

                        </ul>
                        <br />
                        <span class="ph1">انواع انرژی میترها</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در تعاريف استاندارد سيستم هاي اندازه گيري (EN1434 , MID) انرژي متر ها با توجه به نوع تجهيزات تشکيل دهنده در دو نوع
                            كامپكت ( يك تكه ) و يا اسپليت ( جدا از هم ) توليد مي شوند، انرژي متر هاي كامپكت تا 5/2  متر مكعب بر ساعت و در مدل هاي اسپليت معمولا از5/3 متر مكعب بر ساعت به بالا توليد مي شوند

                        </p>

                        <span class="ph1">بخش های تشکیل دهنده انرژی میترها</span>
                        <br />

                        <p style="line-height: 2;" align="justify">
                            1- میترها (اندازه گیر انرژی، آب و گاز)  و دستگاه مبدل واحد
                        </p>
                        <span class="ph2">میترهای مخصوص سیال آب</span>
                        <p style="line-height: 2;" align="justify">
                            اولين قسمت مجموعه انرژي ميتر يا به عبارتي اصلي ترين بخش مجموعه، قسمت اندازه گير انرژي و آب مي باشد، بدين صورت كه اندازه گير انرژي يا همان ميتر )با توجه به محل قرار گيري( ميزان مصرف انرژي و يا آب را بر عهده دارد. ميتر هايي كه بر روي لوله هاي رادياتور و يا فن كويل قرار دارند ميزان انرژي حرارتي و يا برودتي مورد نياز و نيز ميترهايي كه بر روي لوله هاي آب مصارفي قرار دارند ميزان مصرف آب را اندازه گيري كرده و براي بخش هاي ديگر ارسال مي نمايند. قسمت اصلي ميتر ها فلومتر مي باشند كه حجم گذر آب را در واحد زمان اندازه گيري كرده و مطابق با آن ميزان انرژي را محاسبه مي كنند.

                        </p>
                        <p style="line-height: 2;" align="justify">
                            به همين خاطر ميترها بر اساس نوع فلومتر دسته بندي مي شوند

                        </p>
                        <ul>
                            <li>ميترهاي التراسونيك با خطاي محاسباتي كمتر از 9 درصد</li>
                            <li>ميترهاي مغناطيسي با خطاي محاسباتي كمتر از 3 درصد </li>
                            <li>ميترهاي توربيني با خطاي محاسباتي كمتر از 5 درصد </li>

                        </ul>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            2- سیستم شبکه ارتباطی
                        </p>
                        <p style="line-height: 2;" align="justify">
                            جهت ارتباط مابين دستگاه مانيتورينگ مركزي و واحد ها نياز به يك بستر شبكه مي باشد و معمولا در ۳ حالت زير طراحي گرديده :
                        </p>
                        <span class="ph2">الف ) شبکه با سیم :</span>
                        <p style="line-height: 2;" align="justify">
                            در اين حالت ارتباط از طريق كابل شبكه بين مبدل واحد و دستگاه مركزي صورت مي پذيرد، در برخي مواقع كه طول مسير شبكه بيش از اندازه طولاني مي شود، از تقويت كننده هاي مخصوص جهت تقويت سيستم شبكه در طول مسير استفاده مي شود.

                        </p>
                        <span class="ph2">ب ) شبکه بی سیم :</span>
                        <p style="line-height: 2;" align="justify">
                            در برخي مواقع كه امكان سيم كشي بين طبقات وجود ندارد، مي توان از شبكه بي سيم جهت ارتباط بين واحد ها استفاده نمود، در این حالت كافيست ماژول شبكه بي سيم را به ازاي هر واحد تهيه و به مجموعه اضافه نمود. با توجه به ساختار شبكه بي سيم در صورتيكه نوع مصالح بكار رفته در ساختمان به گونه اي باشد كه قدرت امواج ارسالي را كاهش دهد ماژول هاي بي سيم هر يك از واحد ها در نقش تقويت كننده ظاهر شده و ارتباط بين دورترين نقطه تا دستگاه مركزي را ميسر مي سازند.

                        </p>
                        <span class="ph2">ج )  شبکه بی سیم و با سیم :</span>
                        <p style="line-height: 2;" align="justify">
                            حالتي در برخي از ساختمان ها وجود دارد كه امكان كابل كشي در بعضي مسيرها وجود داشته و در برخي نقاط امكان كابل كشي وجود ندارد. براي اينگونه موارد قابليتي در نظر گرفته شده تا بتوان از تركيب شبكه بي سيم و با سيم استفاده نمود، بطور مثال در يك ساختمان ممكن است در محل رايزر جهت ارتباط واحد ها به يكديگر امكان كابل كشي وجود داشته باشد ولي امكان ارتباط با سيم بين رايزر و اتاق مديريت مشكل باشد، در اين حالت مي توان بين رايزر و اتاق مديريت شبكه بي سيم برقرار نمود.

                        </p>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            3- دستگاه کنترل مرکزی
                        </p>
                        <p style="line-height: 2;" align="justify">
                            اين دستگاه جهت نصب در اتاق مديريت در نظر گرفته شده تا پس از وارد كردن اطلاعات هر يك از قبوض توسط كاربر، با برقرار كردن ارتباط با دستگاه هاي واحد مبادرت به دريافت اطلاعات مصرف هر واحد در دوره هاي زماني تعريف شده توسط كاربر نموده و نسبت به صدور قبوض اقدام نمايد.

                        </p>
                        <br />
                        <span class="ph1">مقایسه انرژی مترهای موجود </span>
                        <br />
                        <div class="row text-center">
                            <img src="/img/Service/EMeter1.PNG" style="border-radius: 5px;" />
                        </div>
                        <br />
                        <span class="ph1">محل نصب میتر ها در لوله های ورودی هر واحد از ساختمان </span>
                        <br />
                        <span class="ph2">الف ) ميتر جهت نصب بر روي لوله ورودي رادياتور (فن كويل) </span>
                        <p style="line-height: 2;" align="justify">
                            وظيفه اين ميتر اندازه گيري ميزان انرژي گرمايشي و يا سرمايشاي مصارف شده در هر واحد از ساختمان مي باشد. اين ميتر داراي يك عدد سنسور دماي اضافه جهت نصب بر روي لوله خروجي رادياتور (فن كويال) از واحد مي باشد.

                        </p>

                        <span class="ph2">ب ) ميتر جهت نصب بر روي لوله ورودي آب سرد و آب گرم بهداشتي: </span>
                        <p style="line-height: 2;" align="justify">
                            وظيفه اين ميترها اندازه گيري ميزان حجم آب گرم بهداشتي و همچنين انرژي هزينه شده جهت گرم كردن همين ميزان آبگرم بهداشتي و نيز محاسبه ميزان حجم آب سرد بهداشتي مصرف شده مي باشد.
                        </p>
                        <div class="row text-center">
                            <img src="/img/Service/EMeter2.PNG" style="border-radius: 5px;" />
                        </div>
                        <br />
                        <br />
                        <span class="ph1">جزئیات اجرایی نصب انرژی میتر </span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            شکل 1 : جزئیات اجرای انرژی میتر مغناطیسی در خط فن کویل(سایز میتر = سایز لوله فن کویل)

                        </p>
                        <div class="row text-center">
                            <img src="/img/Service/EMeter3.PNG" style="border-radius: 5px;" />
                        </div>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            شکل 2 : جزئیات اجرای انرژی میتر مغناطیسی در خط فن کویل(سایز میتر ≠ سایز لوله فن کویل)

                        </p>
                        <div class="row text-center">
                            <img src="/img/Service/EMeter4.PNG" style="border-radius: 5px;" />
                        </div>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            شکل ۳: جزئیات اجرای انرژی میتر مغناطیسی در خط لوله آبسرد و آبگرم  (سایز میتر = سایز لوله آبسرد و آبگرم 1 اینچ)
                        </p>
                        <div class="row text-center">
                            <img src="/img/Service/EMeter5.PNG" style="border-radius: 5px;" />
                        </div>
                        <br />
                        <br />
                        <span class="ph1">نحوه نصب تجهیزات اندازه گیری انرژی میتر الکترونیکی </span>
                        <br />  <br />
                        <div class="row text-center">
                            <img src="/img/Service/EMeter6.PNG" style="border-radius: 5px;" />
                        </div>
                        <br />
                        <br />

                        <span class="ph1">توجیه فنی و اقتصادی </span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            مطالعات انجام شده در اتحاديه اروپا نشان داده است هنگامي كه ساكنان آپارتمانهاي مسكوني از ميزان مصارف انرژي خود و بهاي آن آگاهي مي يابند، مصرف انرژي به صورت خودكار بين 41 تا 91 درصد كاهش مي يابد.



                        </p>
                        <div class="row text-center">
                            <img src="/img/Service/EMeter7.PNG" style="border-radius: 5px;" />
                        </div>
                        <br />
                    </div>


                </div>
                <br /><br />

            </div>
        </div>
    </div>
</section>

