
@{
    ViewData["Title"] = "مدیریت انرژی ساختمان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">مدیریت انرژی ساختمان </span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <span class="ph1">ساختمان هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            تفاوت اصلی خانه های هوشمند با خانه های معمولی در این است که همه ی وسایل در خانه های هوشمند به یکدیگر متصل هستند و با یک دستگاه مرکزی کنترل می شوند. کنترل آب و هوا، چراغ ها، لوازم، قفل ها و انواع مختلفی از دوربین ها و مانتیورهایی که می توانند به خانه های هوشمند و خودکار اضافه شوند از هر جای خانه و حتی دور از خانه قابل کنترل می باشند.
                        </p>
                        <br />
                        <div class="row text-center">

                            <img src="/img/Service/Emange1.png" style="border-radius: 5px;" />


                        </div>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            ایجاد این اتصالات از روش گوناگون قابل انجام است. سیستم های اختصاصی ای وجود دارند که ویژه ی خانه های هوشمند ساخته شده اند مانند Z-Wave Zigbee ،KNX  و ...
                        </p>
                        <p style="line-height: 2;" align="justify">
                            شما می توانید از طریق وای فای و روی بستر اینترنت، این وسایل را کنترل کنید. همچنین برخی از آن ها ممکن است با بلوتوث هم قابل کنترل باشند؛ در این شرایط حتی می توان بدون استفاده از اینترنت هم آنها را کنترل کنید. هر یک از این سیستم ها مزایا و معایب خاص خود را دارند و بهترین گزینه برای شما بستگی به نیاز و کاری دارد که می خواهید انجام دهید.
                        </p>
                        <br />
                        <span class="ph1">مزایای یک خانه ی هوشمند چیست؟</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            و اما فایده ی ارتباط وسایل خانه با یکدیگر چیست؟ در یک کلام و به طور خلاصه جواب این است: راحت بودن! داشتن یک خانه ی هوشمند باعث می شود بتوانید کارهای زیادی را با زحمت کمتری انجام دهید. کارهایی مانند تنظیم تهویه، خاموش کردن لامپ ها، روشن کردن مایکروفر برای گرم کردن غذا و غیره.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            شما می توانید برای وسایل خانه ی خود زمانبندی نیز تعیین کنید، بنابراین یکسری کارها در ساعات خاصی از روز به صورت خودکار انجام خواهند شد. حتی برخی از این وسایل هوشمند قابلیت یادیگری داشته و از کارهایی که شما انجام می دهید، می آموزند، در نتیجه با فعالیت بسیار کمتری می توانید انجام خیلی کارها را به صورت خودکار به وسایل خانگی خود محول کنید.
                        </p>
                        <br />
                        <div class="row text-center">

                            <img src="/img/Service/Emange2.png" style="border-radius: 5px;" />


                        </div>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            افزون بر راحتی، خانه های هوشمند بهره وری از انرژی را نیز افزایش می دهند. برای مثال می توان به ترموستات هوشمند اشاره نمود. این ترموستات از شما یاد می گیرد که خانه تان باید چقدر گرم یا سرد باشد و دما را به طور خودکار تنظیم می کند، بنابراین شما نگران صرفه جویی در مصرف انرژی نخواهید بود. همچنین وقتی در خانه نباشید این ترموستات به حالت «راه دور» رفته و با تنظیم دمای خانه، مبلغ قبض های استفاده از وسایل گرمایشی و سرمایشی شما کمتر خواهد شد! سیستم خانه ی خودکار برخی از شرکت ها مانند Webee نیز از فعالیت ها و کارهای شما می آموزد و توصیه هایی برای افزایش بهره وری در استفاده از لوازم و دستگاه های هوشمند، به شما خواهد نمود.
                        </p>
                        <br />


                        <span class="ph1">مدیریت انرژی ساختمان</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            اولین قدم برای مدیریت انرژی ساختمان شما این است که دقیقاً بدانید که چه مقدار انرژی را چگونه و از چه منابعی استفاده می کنید. با استفاده از این اطلاعات ، می توانید زمینه هایی برای بهبود عملکرد سیستم ارایه کنید ، که به نوبه خود به شما کمک می کند تا کارآمدتر شوید و در نهایت پس انداز کنید. مجموعه دستگاه های اندازه گیری نصب شده در ساختمان با سیستم اتوماسیون ساختمان شما ارتباط برقرار می کنند و هوشمندانه این اطلاعات را به دست می آورند ، ذخیره و تجزیه و تحلیل این داده ها در درازمدت کارایی و عملکرد سیستم شما را بهبود خواهد بخشید.
                        </p>
                        <br />
                        <span class="ph2">مدیریت انرژی و سرمایه</span>
                        <p style="line-height: 2;" align="justify">
                            عملگرهای مختلف نصب شده با توجه به طیف وسیعی از مشاغل کوچک و متوسط ، به تکنیسین های برق ، صاحبان ساختمان ، مدیران تاسیسات و انرژی این امکان را می دهد تا داده های خود را - چه از راه دور و چه به صورت محلی - جمع آوری و تجسم کنند. این بدان معنی است که میزان مصرف و تخصیص بهینه انرژی و عملیات تعمیر و نگهداری ساده تر خواهد شد. مزایای اتصال و دسترسی به داده ها می تواند منجر به صرفه جویی 30٪ در حوزه انرژی شود.
                        </p> <p style="line-height: 2;" align="justify">
                            ساختمانهای هوشمند برای ایجاد امکان استفاده از داده های زمان واقعی ، تجزیه و تحلیل عملیاتی و برنامه های یکپارچه برای مدیریت پایدارتر ، کارآمدتر و هوشمندانه تر ساختمانها ، از راه حل های دیجیتالی ساختمان و دستگاههای اینترنت اشیاء (IOT) استفاده می کنند.
                        </p>

                        <br />
                        <span class="ph2">راه حل های مقیاس پذیر برای انرژی و مدیریت سرمایه در ساختمان ها</span>
                        <p style="line-height: 2;" align="justify">
                            استفاده از تجهیزات مناسب و استاندارد راه حل های مقیاس پذیر را برای طیف وسیعی از مشاغل کوچک و متوسط ارائه می دهد ، این امکان را برای نصب کنندگان تجهیزات برقی ، صاحبان ساختمان ، مدیران تاسیسات و انرژی فراهم می کند تا داده های خود را از طریق سایت و از راه دور جمع آوری و تجسم کنند. با استفاده از تجهیزت انرژی میتر و محصولات مرتبط ، می توانید اولویت های مناسب را تعیین کرده و برای صرفه جویی در تعمیر و نگهداری ، مصرف بهینه انرژی و تخصیص آن تصمیم گیری آگاهانه اتخاذ کنید. مزایای اتصال و در دسترس بودن داده ها می تواند منجر به صرفه جویی تا 30٪  در مصرف انرژی شود.
                        </p>
                        <br />
                        <div class="row text-center">

                            <img src="/img/Service/Emange3.png" style="border-radius: 5px;" />


                        </div>
                        <br />

                        <span class="ph2">تفکیک مصرف انرژی</span>
                        <p style="line-height: 2;" align="justify">
                            بسیاری از ساکنان ساختمان ممکن است الگوی مصرف متفاوتی از یکدیگر در خصوص مصرف انرژی داشته باشند و یا ممکن است برخی از مالکان مدت زمان زیادی از واحد خود در ساختمان استفاده ننمایند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            یکی از مسائل مهم برج های مسکونی که همواره با ایجاد سوتفاهم و دغدغه برای مدیران ساختمان و ساکنان آنها همراه بوده است، بحث تفکیک مصرف بر روی حامل های مشترک در ساختمان همانند آب سرد مصرفی، آب گرم مصرفی و میزان انرژی استفاده شده توسط هر واحد ساختمانی می باشد.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            بدیهی است به دلیل وجود استانداردهای فنی و نیازمندیهای بسیاری از پروژه ها، نمی توان از روش هایی کاملا تفکیک شده در طراحی و اجرای تاسیسات زیربنایی ساختمان ها استفاده نمود.
                            لذا این روش ها برای ساختمان هایی با ویژگی های زیر قابل استفاده می باشد.

                        </p>
                        <ul>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>ساختمان هایی که دارای آب سرد مصرفی مشترک می باشند.</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>ساختمان هایی که دارای آب گرم مصرفی مشترک می باشند.</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>ساختمان هایی که انرژی سرمایش آنها به طور مرکزی تولید می گردد.</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>ساختمان هایی که انرژی گرمایش آنها به طور مرکزی تولید می گردد.</li>



                        </ul>
                        <br />
                        <span class="ph1">سیستم پارکینگ هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            جهت خودکارسازی کنترل تردد خودروها در پارکینگ تاکنون روش های مختلفی مورد استفاده قرار گرفته است. اما برای پارکینگ های اختصاصی در برج های مسکونی بهترین روش، استفاده از نشانه های رادیویی (RFID) می باشد.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            نشانه های رادیویی در واقع برچسب ها و یا کارت های الکترونیکی هستند که بر روی خودرو نصب و یا در جلوی شیشه آن قرار داده می شود. در محل ورود و یا خروج خودرو به پارکینگ قرائتگرهایی نصب می گردد که قادر هستند اطلاعات این برچسب ها را به صورت بیسیم و از فاصله کوتاه تا 100 متر قرائت نمایند. بدین ترتیب خودرو قبل از رسیدن به قرائتگر مذکور و دروازه ورودی به پارکینگ، توسط سیستم شناسایی و در صورت داشتن حق دسترسی در ساعت مذکور، راهبند ورودی پارکینگ باز و خودرو می تواند وارد پارکینگ گردد. شایان ذکر است که زمان ورود خودرو نیز در سیستم مرکزی ثبت می گردد.
                        </p>
                        <br />
                        <div class="row text-center">

                            <img src="/img/Service/Emange4.png" style="border-radius: 5px;" />


                        </div>
                        <br />

                        <br />
                        <span class="ph1">اتصال آسانسور به سیستم BMS</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در ساختمان می توان سیستم کنترل و مانیتورینگ آسانسور و پله برقی را به سیستم BMS متصل نمود. از جمله پارامترهای تحت کنترل و مانیتورینگ می توان به موارد ذیل اشاره نمود:
                        </p>

                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-7 text-right">
                                <img src="/img/Service/Emange5.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-5 text-right">
                                <span class="ph2">قابلیت ها: </span>
                                <br />

                                <ul>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>مانیتورینگ زمان واقعی وضعیت آسانسور</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قابلیت دادن فرمان به آسانسور برای تغییر وضعیت همانند حالت VIP</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قابلیت دیدن تصویر دوربین نظارتی داخل آسانسور</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>وضعیت آسانسور</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>موقعیت آسانسور</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>جهت آسانسور</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>طبقاتی که نباید آسانسور توقف داشته باشد.</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>برنامه اضطراری</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>وضعیت درب آسانسور</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>آلارم های آسانسور</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>فرمان پارکینگ</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>عملیات Express</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>عملیات VIP</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>بازگشت به طبقه تعریف شده</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>تغییر جهت حرکت پله برقی در زمان های اضطراری</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>مانیتورینگ آلارمهای تولید شده در پله برقی</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>مانیتورینگ و کنترل روشن و خاموش بودن پله برقی</li>




                                </ul>
                            </div>

                        </div>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            همچنین با داشتن اطلاعات لحظه به لحظه وضعیت آسانسورها و پله برقی ها و ثبت آنها می توان برنامه تعمیر و نگهداری پیشگیرانه برای آن ایجاد نمود.
                        </p>
                        <br />
                        <span class="ph1">سیستم مانیتورینگ اطفای حریق خودکار</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            استفاده از سیستم های اطفای حریق خودکار مبتنی بر استفاده از اسپرینکلر، یکی از روش های رایج در ساختمان ها محسوب می گردد. در هنگام عمل کردن هر کدام از اسپرینکلرها در صورتی که سیستم اعلام حریق آدرس پذیر در ساختمان مورد استفاده قرار گرفته باشد، و دلیل فعال شدن اسپرینکلر حرارت باشد، می توان محل تقریبی آن را تعیین نمود.
                            اما در هنگامی که اسپرینکلر فعال گردیده ولی سیستم اعلام حریق چیزی را اعلام ننموده است، به سختی می توان محل فعال شدن را در یک ساختمان بزرگ تشخیص داد.
                            به همین دلیل با نصب فلوسوئیچ هایی در محل زون های اطفای حریق می توان در صورت عمل کردن اسپرینکلر و جریان یافتن آب درون لوله ها، محل تقریبی نشت آب را تشخیص داد.
                            به ویژه در مجتمع های مسکونی که در هر طبقه بیش از یک واحد وجود دارد تشخیص محل دقیق آتش سوزی و مهار آتش در کمترین فرصت از ایجاد خسارات جبران ناپذیر جانی و مالی بعدی جلوگیری خواهد نمود

                        </p>
                        <p style="line-height: 2;" align="justify">
                            علاوه بر موارد ذکر شده در بالا مجموع این اقدامات و تست قطعات استفاده شده در سیستم اعلام و اطفا حریق توسط سیستم هوشمند موجب تعمیر و نگهداری به موقع تجهیزات شده و سیستم همیشه در شرایط آماده به کار قرار دارد تا در زمان مورد نیاز بدون کوچکترین نقصی با حداکثر ظرفیت به وظیفه خود عمل کند.
                        </p>
                        <br />
                        <div class="row text-center">

                            <img src="/img/Service/Emange6.png" style="border-radius: 5px;" />


                        </div>
                        <br /> <br />

                        <span class="ph1">کنترل روشنایی فضاهای عمومی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            برای کنترل روشنایی در فضاهای عمومی می توان روش های مختلفی را مورد استفاده قرار داد که از جمله رایجترین آنها می توان به موارد ذیل اشاره نمود:
                        </p>
                        <span class="ph2">کنترل خطوط روشنایی بر اساس تقویم روز و هفته</span>
                        <p style="line-height: 2;" align="justify">
                            خطوط روشنایی بر اساس تقویم فعالیت ساختمان در ساعت های مختلف روز و روزهای مختلف سال، برنامه ریزی می گردد. بنابراین سیستم به طور خودکار و با استناد به تقویم مذکور می تواند خطوط روشنایی را کنترل نماید.
                        </p>
                        <br />
                        <span class="ph2">کنترل خطوط روشنایی بر اساس سنسورهای تشخیص حضور</span>
                        <p style="line-height: 2;" align="justify">
                            برخی از خطوط روشنایی (معمولا خطوط روشنایی اضطراری) در ساعات فعالیت ساختمان و متناسب با میزان نور مورد نیاز به صورت دائم روشن نگاه داشته می شوند. سایر خطوط روشنایی با استفاده از سنسورهای تشخیص حرکت نصب شده در محیط، کنترل می گردند. بدین ترتیب در زمانی که ترددی وجود نداشته باشد، چراغ های مذکور خاموش و در مصرف انرژی الکتریکی صرفه جویی ایجاد می گردد.
                        </p>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            فضاهایی که این سیستم می تواند مورد استفاده قرار گیرد:
                        </p>
                        <ul>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پارکینگ</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>راهروهای اقامتی</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>لابی های ورودی</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>راه پله ها</li>




                        </ul>
                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-5 text-right">
                                <img src="/img/Service/Emange7.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-2 text-right">

                            </div>
                            <div class="col-sm-12 col-md-5 text-right">
                                <img src="/img/Service/Emange8.png" style="border-radius: 5px;" />
                            </div>
                        </div>
                        <br /> <br />

                        <span class="ph1">تلویزیون اینترنتی (IP TV)</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            تلویزیون اینترنتی، نسل جدید سیستم های آنتن مرکزی و پخش در داخل ساختمان ها و به ویژه مراکز اقامتی و هتل ها محسوب می گردد. در این سیستم کلیه کابل کشی های سنتی آنتن مرکزی و سیستم پخش مرکزی ویدئو جمع آوری می گردد.
                            در پشت هر تلویزیون در داخل اتاق یک دستگاه به نام SetopBox نصب می گردد. این دستگاه به پورت شبکه موجود در اتاق متصل می گردد.

                        </p>
                        <p style="line-height: 2;" align="justify">
                            پخش شبکه های تلویزیونی همراه با کنترل زمانی آنها (Time Shifting Live TV)
                            قابلیت Pause نمودن، Stop کردن، عقب یا جلو بردن برنامه ی در حال پخش (Forward/Rewind) و دسترسی به برنامه هایی که یک هفته  قبل پخش شده است، جزء ویژگی های منحصر به فرد IPTV می باشد. اتصال شبــکه های تلویزیونی ماهواره ای (DVB-S/S2) و زمینی (DVB-T) با کیفیت دیجیتال (HD / SD) به این سامانه، قابلیت کنترل زمانی را به بیننده اعطا خواهد نمود.
                            جستوجوی فیلم و موسیقی دلخواه خود از آرشیو این تلویزیون تنها بخش کوچکی از قابلیت های لذت بخش این سیستم می باشد.

                        </p>
                        <br />
                        <div class="row text-center">

                            <img src="/img/Service/Emange9.png" style="border-radius: 5px;" />


                        </div>
                        <br /> <br />

                        <span class="ph1">سیستم نظارت تصویری</span>
                        <br />
                    <p style="line-height: 2;" align="justify">
                        برای نظارت بر بخش های مختلف ساختمان و بالا بردن ضریب امنیت و آسایش استفاده کنندگان از ساختمان، سیستم های نظارت تصویری بهترین گزینه محسوب می گردند.
                        تاکنون نسل های مختلفی از سیستم های نظارت تصویری به بازار عرضه گردیده است. سیستم های نظارت تصویری تحت شبکه، آخرین نسل این رده از محصولات محسوب می گردند.
                        در این راه حل دوربین ها بر روی بستر شبکه کامپیوتری تصاویر خود را ارسال نموده و از امنیت بالا، سادگی بهره برداری و توسعه برخوردار می باشند. 

                    </p>
                    <p style="line-height: 2;" align="justify">
                        تصویر هوشمند این امکان را برای سامانه های نظارت تصویری بوجود می آورد تا به عنوان میزبان (host) برای برنامه های کاربردی جدید استفاده شوند و این اطمینان را می دهد که سامانه نظارت تصویری هوشمند، با دقت و مقرون به صرفه است. به طور خلاصه تصویر هوشمند شامل موارد زیر می باشد:
                    </p>
                    <ul>
                        <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>تحلیل و نظارت تصویر به صورت اتوماتیکی و زنده</li>
                        <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>تشخیص فعالیت های مشکوک</li>
                        <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>ضبط تصویر، هشدار و یا سایر اعمال</li>
                        <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>هشدار به کاربر</li>
                        <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>آگاه کردن کاربر در جلوگیری از جرم و جنایت قبل از وقوع آن</li>

                    </ul>
                    <br />
                    <div class="row text-center">

                        <img src="/img/Service/Emange10.png" style="border-radius: 5px;" />


                    </div>
                    <br />
                    </div>
                </div>


            </div>
            <br /><br />

        </div>
    </div>
</section>


