
@{

    Layout = "_Layout";
}




<section id="home">

    <div id="slitSlider" class="sl-slider-wrapper">
        <div class="sl-slider">

            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner">
                    <div class="bg-img bg-img-1"></div>
                    <div class="carousel-caption">
                        <div>
                            @*<img class="wow fadeInUp" src="/img/logo-meghna.png" alt="Cama Energy">*@
                            <!--<h3 data-wow-duration="500ms" data-wow-delay="500ms" class="heading animated fadeInRight direction">میزبان شما هستیم :  </h3>
                            <h3 data-wow-duration="500ms" data-wow-delay="500ms" style="color:red" class="heading animated fadeInRight direction">در بیست و پنجمین نمایشگاه بین المللی</h3>
                            <h3 data-wow-duration="500ms" data-wow-delay="500ms" class="heading animated fadeInRight direction">ماشین آلات ،لوازم و مصالح ساختمانی</h3>
                            <h4 data-wow-duration="500ms" data-wow-delay="500ms" class="heading animated fadeInRight direction">سالن آذربایجان | 3-6 تیر ماه 1399 |ساعت 16-22</h4>-->

                        </div>
                    </div>
                </div>
            </div>

            <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                <div class="sl-slide-inner">
                    <div class="bg-img bg-img-2"></div>
                    @*<div class="carousel-caption">
                        <div class="direction">
                            <h2 class="heading animated fadeInDown">کاملا ریسپانسیو</h2>
                            <h3 class="animated fadeInUp">با پشتیبانی از تمامی مرورگرهای اصلی از جمله IE 9</h3>
                            <a class="btn btn-green animated fadeInUp" href="#">شروع کن</a>
                        </div>
                    </div>*@
                </div>
            </div>

            @* <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                    <div class="sl-slide-inner">
                        <div class="bg-img bg-img-3"></div>
                        <div class="carousel-caption">
                            <div class="direction">
                                <h2 class="heading animated fadeInRight">قالب اچ تی ام ال پارالاکس تک صفحه ای</h2>
                                <h3 class="animated fadeInLeft">طراحی تمیز و حرفه ای</h3>
                                <a class="btn btn-green animated fadeInUp" href="#">بیشتر بدانید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                    <div class="sl-slide-inner">
                        <div class="bg-img bg-img-4"></div>
                        <div class="carousel-caption">
                            <div class="direction">
                                <h2 class="heading animated fadeInRight">قالب اچ تی ام ال پارالاکس تک صفحه ای</h2>
                                <h3 class="animated fadeInLeft">طراحی تمیز و حرفه ای</h3>
                                <a class="btn btn-green animated fadeInUp" href="#">بیشتر بدانید</a>
                            </div>
                        </div>
                    </div>
                </div>*@


        </div>

        <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev">قبلی</span>
            <span class="nav-arrow-next">بعدی</span>
        </nav>

        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
        </nav>

    </div>
</section>



<section id="main-features">
    <div class="container">
        <div class="row">
            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>آخرین <span class="color">محصولات</span></h2>
                <div class="border"></div>
            </div>

            <div id="features">
                <div class="item direction">

                    <div class="features-item">


                        <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
                            <img id="ppImage1" src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                        </div>

                        <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h3 id="ppTitle1">ویژگی های اصلی مگنا</h3>
                            <p id="ppDesc1">لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد!</p>
                            <a id="ppLink1" href="#" class="btn btn-transparent">مشاهده محصول</a>
                        </div>


                    </div>
                </div>
                <div class="item direction">

                    <div class="features-item">


                        <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
                            <img id="ppImage2" src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                        </div>

                        <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h3 id="ppTitle2">ویژگی های اصلی مگنا</h3>
                            <p id="ppDesc2">لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد!</p>
                            <a id="ppLink2" href="#" class="btn btn-transparent">مشاهده محصول</a>
                        </div>


                    </div>
                </div>
                <div class="item direction">

                    <div class="features-item">


                        <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
                            <img id="ppImage3" src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                        </div>

                        <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h3 id="ppTitle3">ویژگی های اصلی مگنا</h3>
                            <p id="ppDesc3">لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد!</p>
                            <a id="ppLink3" href="#" class="btn btn-transparent">مشاهده محصول</a>
                        </div>


                    </div>
                </div>
                <div class="item direction">

                    <div class="features-item">


                        <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
                            <img id="ppImage4" src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                        </div>

                        <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h3 id="ppTitle4">ویژگی های اصلی مگنا</h3>
                            <p id="ppDesc4">لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد!</p>
                            <a id="ppLink4" href="#" class="btn btn-transparent">مشاهده محصول</a>
                        </div>


                    </div>
                </div>
                <div class="item direction">

                    <div class="features-item">


                        <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
                            <img id="ppImage5" src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
                        </div>

                        <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h3 id="ppTitle5">ویژگی های اصلی مگنا</h3>
                            <p id="ppDesc5">لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد!</p>
                            <a id="ppLink5" href="#" class="btn btn-transparent">مشاهده محصول</a>
                        </div>


                    </div>
                </div>

            </div>


        </div>
    </div>
</section>

<section id="our-team" class="direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
                <h2>نمونه <span class="color">پروژه ها</span></h2>
                <div class="border"></div>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                <article class="team-mate">
                    <div class="member-photo">

                        <img id="prjImage1" class="img-responsive" src="img/team/member-1.jpg" style="height:300px !important;max-height:300px !important" alt="Meghna">

                        <div class="mask">
                            <ul class="clearfix">
                                <li><a id="prjLink1" href="#"><i class="fa fa-search"></i></a></li>

                            </ul>
                        </div>

                    </div>


                    <div class="member-title">
                        <h3 id="prjTitle1">مجید</h3>
                        <span id="prjSubTitle1">توسعه دهنده وب</span>
                    </div>

                    <div id="prjDesc1" class="member-info">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>


                </article>
            </div>

            <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                <article class="team-mate">
                    <div class="member-photo">

                        <img id="prjImage2" class="img-responsive" src="img/team/member-1.jpg" style="height:300px !important;max-height:300px !important" alt="Meghna">

                        <div class="mask">
                            <ul class="clearfix">
                                <li><a id="prjLink2" href="#"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>

                    </div>


                    <div class="member-title">
                        <h3 id="prjTitle2">مجید</h3>
                        <span id="prjSubTitle1">توسعه دهنده وب</span>
                    </div>

                    <div id="prjDesc2" class="member-info">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>


                </article>
            </div>


            <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                <article class="team-mate">
                    <div class="member-photo">

                        <img id="prjImage3" class="img-responsive" src="img/team/member-1.jpg" style="height:300px !important;max-height:300px !important" alt="Meghna">

                        <div class="mask">
                            <ul class="clearfix">
                                <li><a id="prjLink3" href="#"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>

                    </div>


                    <div class="member-title">
                        <h3 id="prjTitle3">مجید</h3>
                        <span id="prjSubTitle3">توسعه دهنده وب</span>
                    </div>

                    <div id="prjDesc3" class="member-info">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>


                </article>
            </div>


            <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                <article class="team-mate">
                    <div class="member-photo">

                        <img id="prjImage4" class="img-responsive" src="img/team/member-1.jpg" style="height:300px !important;max-height:300px !important" alt="Meghna">

                        <div class="mask">
                            <ul class="clearfix">
                                <li><a id="prjLink4" href="#"><i class="fa fa-search"></i></a></li>

                            </ul>
                        </div>

                    </div>


                    <div class="member-title">
                        <h3 id="prjTitle4">مجید</h3>
                        <span id="prjSubTitle4">توسعه دهنده وب</span>
                    </div>

                    <div id="prjDesc4" class="member-info">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>


                </article>
            </div>


        </div>
    </div>
</section>


<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">

            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>گواهینامه <span class="color">ها</span></h2>
                <div class="border"></div>
            </div>
            <div id="CertDiv">


            </div>
        </div>
    </div>
</section>


<section id="counter" class="parallax-section direction">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
                <div class="counters-item">
                    <div>
                        <span data-speed="3000" data-to="320" id="prdCount">320</span>
                    </div>
                    <i class="fa fa-briefcase fa-3x"></i>
                    <h3>محصولات</h3>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="counters-item">
                    <div>
                        <span data-speed="3000" data-to="565" id="prjCount">565</span>
                    </div>
                    <i class="fa fa-cubes fa-3x"></i>
                    <h3>پروژه ها</h3>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="counters-item">
                    <div>
                        <span data-speed="3000" data-to="95" id="serCount">95</span>

                    </div>
                    <i class="fa fa-globe fa-3x"></i>
                    <h3>خدمات</h3>

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="counters-item kill-margin-bottom">
                    <div>
                        <span data-speed="3000" data-to="2500" id="cerCount">2500</span>
                    </div>
                    <i class="fa fa-certificate fa-3x"></i>
                    <h3>گواهینامه ها</h3>
                </div>
            </div>


        </div>
    </div>
</section>



@*<section id="services" class="bg-one direction">
        <div class="container">
            <div class="row">


                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>خدمات <span class="color">ما</span></h2>
                    <div class="border"></div>
                </div>
                <div class="Services">

                </div>
            </div>
        </div>
    </section>*@



@*<section id="team-skills" class="parallax-section direction">
        <div class="container">
            <div class="row wow fadeInDown" data-wow-duration="500ms">

                <div class="title text-center">
                    <h2>مهارت های <span class="color">ما</span></h2>
                    <div class="border"></div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
                    <div class="skill-chart text-center">
                        <span class="chart" data-percent="80">
                            <span class="percent"></span>
                        </span>
                        <h3><i class="fa fa-wordpress"></i> وردپرس</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="skill-chart text-center">
                        <span class="chart" data-percent="90">
                            <span class="percent">86</span>
                        </span>
                        <h3><i class="fa fa-html5"></i> اچ تی ام ال 5</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="skill-chart text-center">
                        <span class="chart" data-percent="85">
                            <span class="percent"></span>
                        </span>
                        <h3><i class="fa fa-android"></i> اندروید</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="skill-chart text-center">
                        <span class="chart" data-percent="70">
                            <span class="percent"></span>
                        </span>
                        <h3><i class="fa fa-apple"></i> آی او اس</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>*@






<section id="blog" class="bg-one">
    <div class="container">
        <div class="row">

            <div class="title text-center wow fadeInDown">
                <h2> آخرین <span class="color">اخبار </span></h2>
                <div class="border"></div>
            </div>


            <div class="clearfix News">

            </div>

            <div class="all-post text-center">
                <a class="btn btn-transparent" href="../Home/AllNews?type=1">مشاهده تمام اخبار</a>
            </div>

        </div>
    </div>
</section>

<section id="contact-us" class="direction">
    <div class="container">
        <div class="row">


            @*<div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>یه خط <span class="color">برای ما</span> بنویس</h2>
                    <div class="border"></div>
                </div>

                <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                    <h3>جزئیات تماس</h3>
                    <br />
                    <div class="contact-details">
                        <div class="con-info clearfix">
                            <i class="fa fa-home fa-lg"></i>
                            <span>ایران, تبریز ، بلوار  29بهمن ، برج شهر ، طبقه 6 واحد G </span>
                        </div>

                        <div class="con-info clearfix">
                            <i class="fa fa-phone fa-lg"></i>
                            <span>041-33300898</span>
                        </div>

                        <div class="con-info clearfix">
                            <span>WhatsApp :</span>
                            <span>09058172829</span>
                        </div>
                        <div class="con-info clearfix">
                            <span>Telegram :</span>
                            <span>09058172829</span>
                        </div>
                        <div class="con-info clearfix">
                            <i class="fa fa-envelope fa-lg"></i>
                            <span>info@Cama-energy.com</span>
                        </div>
                    </div>
                </div>

                <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <form id="contact-form" method="post" action="sendmail.php" role="form">

                        <div class="form-group">
                            <input type="text" placeholder="نام شما" class="form-control" name="name" id="name">
                        </div>

                        <div class="form-group">
                            <input type="email" placeholder="آیمیل شما" class="form-control" name="email" id="email">
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="عنوان" class="form-control" name="subject" id="subject">
                        </div>

                        <div class="form-group">
                            <textarea rows="6" placeholder="پیام" class="form-control" name="message" id="message"></textarea>
                        </div>

                        <div id="mail-success" class="success">
                            متشکرم. پیام شما با موفقیت ارسال شد :)
                        </div>

                        <div id="mail-fail" class="error">
                            با عرض پوزش, نمیدانم چه اتفاقی افتاد. بعدا امتحان کن :(
                        </div>

                        <div id="cf-submit">
                            <input type="submit" id="contact-submit" class="btn btn-transparent" value="ارسال">
                        </div>

                    </form>
                </div>*@


        </div>
    </div>


</section>


@section scripts {
    <script src="~/js/home.js"></script>
}