
@{
    ViewData["Title"] = "Interface";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">روش های کنترلی سیستم هوشمند (Interface) </span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <span class="ph1">پنل هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            این صفحات نمایش رنگی دارای دو نوع دیواری و قابل حمل می باشند. با استفاده از این صفحات نمایش می توان کلیه سیستم های یک ساختمان را تحت کنترل در آورد.
                        </p>
                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-7 text-right">
                                <img src="/img/Service/SmartPanel.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-5 text-right">
                                <span class="ph2">قابلیت ها: </span>
                                <br />

                                <ul>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>روشن و خاموش کردن خطوط روشنایی</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i> کردن خطوط روشنایی </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i> سیستم صوت و موزیک </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل سیستم امنیتی </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>تم سرمایش و گرمایش </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i> پرده و کرکره برقی </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>فعال سازی سناریوها </li>


                                </ul>
                            </div>

                        </div>
                        <br />
                        <br />

                        <span class="ph1">کلیدهای هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            این کلیدها در تعداد پل های مختلف می تواند مورد استفاده قرار گیرد. با استفاده از این کلیدها می توان بخش هایی از امکانات ساختمان را تحت کنترل در آورد.
                        </p>
                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-7 text-right">
                                <img src="/img/Service/SmartKey.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-5 text-right">
                                <span class="ph2">قابلیت ها: </span>
                                <br />

                                <ul>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل روشن و خاموش کردن خطوط روشنایی</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل دیم خطوط روشنایی </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل سیستم سرمایش و گرمایش </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل پرده و کرکره برقی </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل سیستم امنیتی  </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>فعال سازی سناریوها </li>


                                </ul>
                            </div>

                        </div>
                        <br />
                        <br />


                        <span class="ph1">گوشی موبایل</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            با استفاده از موبایل هایی که دارای سیستم عامل های مختلف می باشند می توان نرم افزارهای کنترل خانه هوشمند را برروی آنها نصب نموده و از داخل واحد و یا خارج از آن، کلیه تجهیزات مربوط به هوشمندسازی را کنترل و یا وضعیت آنها را مانیتور نمود.
                        </p>

                        <br />
                        <br />

                        <span class="ph1">فرامین صوتی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            سیستم های فرمان صوتی در خانه هوشمند می تواند هر آنچه را که در سیستم هوشمند سازی خانه شما پیکربندی شده، کنترل نماید. اگر شما از ماژول های روشنایی استفاده می کنید، سیستم فرمان صوتی می تواند لامپ ها را روشن، خاموش و یا میزان نور آن ها را تنظیم نماید، و چنانچه از سیستم امنیتی هوشمند در خانه خود بهره می برید، سیستم فرمان صوتی می تواند سیستم های هشدار امنیتی را نیز روشن یا خاموش کند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            شاید برخی افراد سیستم فرمان صوتی را فقط یک ایده ی جالب و سرگرم کننده بدانند اما این سیستم مزیت هایی دارد که مهمترین آن ها عبارت اند از:
                        </p>
                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-7 text-right">
                                <img src="/img/Service/VoiceCommand.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-5 text-right">
                                <span class="ph2">قابلیت ها: </span>
                                <br />

                                <ul>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>محافظت راحت تر از خانه</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>راحت کردن استفاده از تجهیزات هوشمند برای معلولان و افراد کم توان </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>امکان استفاده چندکاربره از محصولات هوشمند </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>اجرای دستورات بدون ریموت کنترل </li>



                                </ul>
                            </div>

                        </div>
                        <br />
                        <br />

                        <span class="ph1">اینترنت</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            از دیگر قابلیت های خانه هوشمند امکان کنترل کل سیستم از هر جایی از دنیا است. تنها کافی است کاربر به اینترنت دسترسی داشته باشد تا با استفاده از اپلیکیشن   android  و یا IOS مختص سیستم هوشمند خود که دارای امکاناتی مانند، زیبایی و سادگی منحصر به فرد می باشد کنترل کل سیستم را در اختیار داشته باشد.
                        </p>

                        <br />
                        <div class="row text-center">

                            <img src="/img/Service/Internet.png" style="border-radius: 5px;" />


                        </div>
                        <br />
                        <br />

                        <span class="ph1">SMS</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            کنترل از راه دور یکی از امکانات ویژه ی هر خانه هوشمندی محسوب می گردد که به واسطه ی این امکان می توان بسیاری از اقدامات را کنترل نمود. مکانیزم عملکرد سیستم کنترل از راه دور به این صورت است که در هر منطقه و فاصله ای که پوشش تلفن همراه وجود داشته باشد، وسایل برقی را از راه دور بوسیله ی تماس یا اس ام اس با خانه هوشمند می توان تحت کنترل قرار داد.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            کاربردهایی که انتظار انجام آن را توسط دستگاه کنترل از راه دور خانه هوشمند می توان داشت، شامل نظارت و کنترل بر تجهیزات منزل ،کنترل دمای گلخانه، کنترل آبیاری یا ایمنی خودرو تا کاربردهای دیگری مانند دزدگیر ، موارد امنیتی و غیره را در بر می گیرد. 
                        </p>
                        <br />
                        <br />

                    </div>
                </div>


            </div>
            <br /><br />

        </div>
    </div>
</section>
