
@{
    ViewData["Title"] = "IPTV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">سیستم تلویزیون تحت شبکه  </span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <p style="line-height: 2;" align="justify">
                            نحوه عملکرد این سیستم بدین صورت است که تمامی آنتن ها، آنتن های ماهواره، DVD Player، کامپیوتر و ... به عنوان منابع اطلاع رسانی و پخش تصاویر به یک ماژول مرکزی که در واقع سرور اصلی سیستم تلقی می شود متصل می شوند. این تصاویر که از منابع مختلفی می تواند تولید شود، توسط این ماژول مرکزی از حالت های مختلف (آنالوگ و دیجیتال) تبدیل به دیجیتال شده و سپس بسته بندی شده و برروی شبکه کامپیوتری ارسال می شوند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            بنابراین بر خلاف سایر سیستم های آنتن مرکزی فعلی، نیاز به هیچ گونه کابل کشی کواکسیال نیست و به این دلیل که اطلاعات برروی شبکه ارسال می شود، مساله تضعیف و نویز نیز از بین خواهد رفت. در سمت گیرنده، می توان از دستگاههای مختلفی برای دیدن تصاویر استفاده نمود. به عنوان مثال کامپیوترهایی که به شبکه متصل هستند می توانند تصاویر تلویزیون را به صورت کامل مشاهده نمایند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            برای اتصال تلویزیون های آنالوگ معمولی به این سیستم، از یک مبدل استفاده می شود. این مبدل از یک سو به شبکه کامپیوتری متصل شده و از سوی دیگر به تلویزیون متصل می گردد. بنابراین به راحتی با استفاده از این مبدل می توان تلویزیون های معمولی را به این شبکه متصل نمود. از جمله قابلیت های این سیستم به حالت دو طرفه بودن تلویزیون می توان اشاره نمود.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            بدان معنی که فردی که در مقابل تلویزیون معمولی نشسته است می تواند با استفاده از ریموت کنترل اطلاعاتی را برای سرور مرکزی ارسال نماید. این اطلاعات می تواند شامل سفارش غذا و یا سرویس خاصی باشد. همچنین مبدلی که در پشت تلویزیون نصب می گردد دارای این قابلیت می تواند باشد که موس و صفحه کلید به آن متصل شود. بنابراین در این حالت استفاده کننده از تلویزیون معمولی می تواند برروی تلویزیون خود و بدون نیاز به کامپیوتر از اینترنت هم استفاده نماید.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            با استفاده از این سیستم می توان تا حدود 11000 کانال را برروی شبکه ارسال نمود. علاوه بر آن که می توان از منابع ماهواره و یا آنتن تلویزیون تصویر پخش نمود، می توان با گذاشتن کامپیوترهایی که برروی آنها تعداد زیادی فیلم قرار دارد، بحث Video on Demand را نیز راه اندازی نمود. در این حالت کاربر می تواند از میان تعداد زیادی فیلم، یک فیلم را انتخاب نموده و مشاهده نماید.
                            علاوه بر این، مدیر سیستم می تواند نظارت و کنترل کاملی بر کاربران داشته باشد. به عنوان مثال می توان بر اساس میزان استفاده کاربران از تلویزیون از آنها شارژ دریافت نمود.

                        </p>
                        <p style="line-height: 2;" align="justify">
                            از جمله قابلیت های سیستم  IPTV می توان به موارد زیر اشاره نمود
                        </p>

                        <span class="ph1">پخش شبکه های تلویزیونی همراه با کنترل زمانی آنها (Time Shifting Live TV) </span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            قابلیت Pause نمودن، Stop کردن، عقب یا جلو بردن برنامه ی در حال پخش (Forward/Rewind) و دسترسی به برنامه هایی که یک هفته  قبل پخش شده است، جزء ویژگی های منحصر به فرد IPTV می باشد. اتصال شبــکه های تلویزیونی ماهواره ای (DVB-S/S2) و زمینی (DVB-T) با کیفیت دیجیتال (HD / SD) به این سامانه، قابلیت کنترل زمانی را به بیننده اعطا خواهد نمود.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">فیلم درخواستی (VOD (Video on Demand))</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            بر خلاف مدل های قدیمی و رایج تماشای تلویزیون، VOD این امکان را به بینندگان می دهد که از طریق منویی که روی صفحه ی تلویزیون در اختیارشان قرار می گیرد فیلم دلخواه خود را از میان بانکی وسیع انتخاب نمایند و با کیفیت HD   به تماشای آنها بپردازند. این بانک از راه دور و به صورت نامحدود قابل به روزرسانی می باشد. ویژگی منحصر به فرد VOD، ابزاری شگفت انگیز برای سرگرم شدن بیننده می باشد.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">اینترنت روی تلویزیون (Internet on TV)</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            دسترسی به اینترنت بدون استفاده از کامپیوتر توسط IPTV محقق می شود. بینندگان در هرلحظه از تماشای تلویزیون می توانند آن را متوقف نموده از طریق یک کی بورد بیسیم به اینترنت و ایمیل های خود دسترسی داشته باشند. این ویژگی به خصوص در مواقع ضروری و همچنین افرادی از خانواده (همچون کودکان) که ممکن است کامپیوتر شخصی نداشته باشند مفید خواهد بود.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">تبلیغات (Ad Insertion)</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            IPTV پخش اتوماتیک و زمان بندی شده ی تبلیغات را میسر می سازد. این تبلیغات که قابلیت تزریق از راه دور را دارا می باشند، هم می توانند متعلق به بخش های مختلف ساختمان مانند رستوران باشند و هم تبلیغات مناطق گردشگری اطراف، مراکز تفریحی-  تجاری، رستوران های شهر، صاحبان صنایع و غیره. نحوه ی پخش نیز بدیــن گونه است که در هنگام تماشای برنامه توسط کاربر، در زمان های مشخصی این تبلیغات برای وی همانند پیام های بازرگانی صدا و سیما پخش می شوند.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">چند زبانه بودن (Multilingual User Interface)</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            منوی تماما فارسی به همراه پشتیبانی دیگر زبانها از جمله انگلیسی و آلمانی یکی دیگر از مزیت های منحصر به فرد IPTV می باشد.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">نمایش صورتحساب (Bill Display)</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            امکان نمایش صورتحساب کاربر به صورت لحظه ای ارزش افزوده ی دیگر این سیستم می باشد. از این طریق کاربر در هر ساعت از شبانه روز روی تلویزیون اتاق خود به صورتحساب خود دسترسی خواهد داشت.
                        </p>

                        <br />
                        <br />
                        <div class="row text-center">
                            <img src="/img/Service/IPTV.png" style="border-radius: 5px; " />
                        </div>
                    </div>
                    <br />
                    <br />

                </div>
            </div>
        </div>
    </div>

</section>

