
@{
    ViewData["Title"] = "منشور اخلاقی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ManshurItem {
        background-color: #2B2C30;
        font-family: 'Ubuntu', 'DroidKufi-Regular', sans-serif;
        line-height: 2;
        
    }
    .ManshurItemParent {
        margin-top: 7px;
    }
</style>


<section id="about" class="bg-one direction">
    <div class="container">
        @*<div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>درباره <span class="color">ما</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <p>
                            شرکت هوشمند انرژی کاما با نزدیک یک دهه سابقه فعالیت با هدف بالابردن سطح تخصص و تجربه کار گروهی در حوزه ساختمان و انرژی با مطالعاتی گسترده ، از سال 1390 به پشتوانه دانش و تجربیات ارزشمند مدیران، متخصصان و مشاوران مجرب خود که هریک از پیشکسوتان و صاحب‌نظران فعال در صنعت ساختمان و تاسیسات به شمار می‌روند، فعالیت خود را در زمینه مشاوره، طراحی، تامین و اجرای سیستم های هوشمند و مدیریت انرژی ساختمان و همچنین فناوری اطلاعات، شبکه و تکنولوژی نوین در حوزه شهری و صنعت ساختمان با تمرکز جدی بر دانش، تخصص و نوآوری و با هدف مدیریت بهینه سرمایه های انسانی و حضور اثر بخش در عرصه مدیریت انرژی و ساختمان آغاز نمود.
                            چشم‌انداز شرکت، ایجاد یک مجموعه کاملاً تخصصی با تکیه بر دانش و استانداردهای روز دنیا و جذب مهندسان کارآمد در زمینه‌های تاسیسات الکتریکی، مکانیکی، انرژی و شبکه های کامپیوتری، با بهره‌گیری از دانش و تجربه سیستم‌های مدیریت هوشمند ساختمان و ارایه کامل خدمات مهندسی به کلیه شرکت‌های مهندسین مشاور، پیمانکاران و کارفرمایان محترم در این حوزه با تامین برندهای متنوع می‌باشد. شرکت هوشمند انرژی کاما درگام نخست، با توجه به نوع كاربري ساختمان، اقليم منطقه، نياز ساكنان، مشخصات مجموعه، اهداف و محدوديت‌هاي كارفرما و حجم سرمايه‌گذاري، نسبت به ارایه راه‌حل‌هاي مناسب براي ساختمان مورد نظر اقدام می‌کند. این شرکت با ارائه راهکارهای کاربردی مناسب، آخرین تکنولوژی روز دنیا را با هزینه منطقی و سهولت بسیار در اختیار مصرف کنندگان نهایی سیستم های اتوماسیون ساختمان قرار داده و کلیه خدمات مشاوره ای و منطقی خود را از فاز طراحی تا تحویل نهایی پروژه ارائه می نماید.
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <br /><br />*@
        <div class="row">
            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2> <span class="color">منشور اخلاقی</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">
                        <p class="text-center" >
                            "و اگر خدا به تو زیانی برساند ، جز او کسی دفع آن نتواند و اگر برای تو خیری بخواهد، هیچ کس فضل او را باز نتواند داشت. فضل خود را به هر کس از بندگانش که بخواهد می رساند و او آمرزنده و مهربان است. سوره یونس – آیه 107"
                        </p>
                        <br />
                        <p>
                            خدای بلندمرتبه را شاكریم كه توفيق خدمت به مردم عزیزمان را به ما عنایت فرمود. ما کارکنان شرکت هوشمند انرژی کاما براي رسيدن به يك سازمان منسجم و برتر تلاش نموده و معتقديم دستيابي به اين هدف از طريق پايبندي به اصول زير و التزام عملي واخلاقي به آنها امكان پذير مي باشد.
                        </p>
                        <span  class="color">از این رو متعهد می شویم :</span>

                        <br />
                        <i class="fa fa-hand-o-left ManshurItemParent">
                            <p class="ManshurItem" align="justify">
                                به شعار اصلی شرکت که “میتوان راحت تر زندگی کرد” در هر شرایطی پایبند بوده و از تمام توان و مهارت خود در راستای دستیابی به خواسته ها و تامین آرامش بیشتر مشتریان فروگزار نمی نمائیم.
                            </p>
                        </i>
                       <i class="fa fa-hand-o-left ManshurItemParent">
                        <p class="ManshurItem" align="justify">
                           	با این باور که تعهد ، حسن خلق، وفاداری و احساس تعلق به شرکت از مصادیق تحکیم و یکپارچگی سازمانی است متعهد می شویم به مثابه یک عضو از یک پیکره واحد عمل نموده و در صورت مشاهده هرگونه نقص در عملکرد هر یک از همکاران ، وظیفه خود می دانیم که ضمن انتقال این ضعف به مدیران ، به نحو شایسته در برطرف نمودن این نقیصه کوشا باشیم و تمام مساعی خود را به کار گیریم که با هر موردی که به هر نحو حسن اعتبار شرکت را با مخاطره مواجه نماید مقابله نمائیم.
                        </p>
                        </i>

                       <i class="fa fa-hand-o-left ManshurItemParent">
                        <p class="ManshurItem" align="justify">
                           	در تمامی شرایط زمانی و مکانی، رعایت ادب ، احترام ، نظم و انضباط، حضور به موقع و منظم در محل کار، وقت شناسی و مسئولیت پذیری و رعایت کامل شئونات اسلامی و عرفی جامعه را در تعامل با مشتریان و سایر همکاران به عمل آورده و خود را ملزم به تبعیت از قوانین و ضوابط درون و برون سازمانی بدانیم.
                        </p>
                        </i>

                       <i class="fa fa-hand-o-left ManshurItemParent">
                        <p class="ManshurItem" align="justify">
                           	از تمامی اصول ، قواعد و قوانین تجاری و اخلاقی تعریف شده در بازار تبعیت نموده و تمام تلاش خود را در جهت ارائه مشاوره ، خدمات و محصولات مناسب به مشتریان به کار ببریم .
                        </p>
                        </i>

                       <i class="fa fa-hand-o-left ManshurItemParent">
                        <p class="ManshurItem" align="justify">
                           	در هر شرایطی نسبت به حفظ اسرار ، اطلاعات و اسناد سازمان و مشتریان متعهد بوده و تمام مساعی خود را در راستای عدم افشای این اطلاعات چه در هنگام خدمت و چه بعد از آن به کار خواهیم بست.
                        </p>
                        </i>

                       <i class="fa fa-hand-o-left ManshurItemParent">
                        <p class="ManshurItem" align="justify">
                            با اعتقاد به اصل وجود نگرش ها ، علایق ، روحیات و جنسیت های مختلف و گاه متضاد ، مجدانه خواهیم کوشید تا این موارد را از حوزه وظایف و مسئولیت های کاری خود جدا نگه داشته و اجازه ندهیم که این تفاوت ها ، در نحوه ارائه خدمات ما خللی وارد نماید.
                        </p>
                        </i>

                       <i class="fa fa-hand-o-left ManshurItemParent">
                        <p class="ManshurItem" align="justify">
                           زمان را جزء غیر قابل جبران برای مشتری ها دانسته و در ارائه مشاوره و خدمات تمام تلاش خود را مینماییم تا در کوتاه ترین زمان ممکن با رعایت نهایت دقت و صداقت و تعهد عمل نمائیم.
                        </p>
                        </i>

                       <i class="fa fa-hand-o-left ManshurItemParent">
                        <p class="ManshurItem" align="justify">
                           تأکید بر احترام به رقبا ، رويكرد منصفانه ، پرهيز از تخريب و تبليغات سوء ، پرهيز از برقراري روابط مالي با اشخاص ذي نفوذ در شرکت های رقيب و حفظ حريم و راز داري رقبا.
                        </p>
                        </i>

                       <i class="fa fa-hand-o-left ManshurItemParent">
                        <p class="ManshurItem" align="justify">
                           انتقال دانش فنی و ارائه آموزش به سایر همکاران در زمینه های مختلف را همواره سرلوحه خود قرار داده و همواره سعی در به روز رسانی اطلاعات خود در حوزه های گوناگون عملکردی می نمائیم.
                        </p>
                        </i>

                       <i class="fa fa-hand-o-left ManshurItemParent">
                        <p class="ManshurItem" align="justify">
                            از تمامی دارایی های شرکت که در اختیار مان قرار داده شده اعم از مادی و غیر مادی مانند متد های مارکتینگ ، اطلاعات مشتریان و برنامه های مطالعاتی و توسعه شرکت و … حفاظت می نمائیم.
                        </p>
                        </i>

                       <i class="fa fa-hand-o-left ManshurItemParent">
                            <p class="ManshurItem" align="justify">
                           از تمامی انتقادات و پیشنهادات وارده استقبال نموده و تمام تلاش خود را در به کارگیری نظرات وارده در راستای بهبود عملکرد کلی سیستم به کار گیریم.
                            </p>
                       </i>

                      <i class="fa fa-hand-o-left ManshurItemParent">
                       <p class="ManshurItem" align="justify">
                            همواره نوآوری و پژوهش را در هر موقعیت شغلی سرلوحه کار خود قرار داده و تمامی استعداد خود را در جهت استفاده از پیشرفته ترین فناوری ها و ارائه آن به مشتریان به کار خواهیم گرفت.
                       </p>
                       </i>
                        <br />

                    </div>
                </div>
            </div>




        </div>
    </div>
</section>

