
@{
    ViewData["Title"] = "پیشگفتار";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">پیشگفتار</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <p style=" line-height: 2;" align="justify">
                            شرکت هوشمند انرژی کاما با نزدیک یک دهه سابقه فعالیت با هدف بالابردن سطح تخصص و تجربه کار گروهی در حوزه ساختمان و انرژی با مطالعاتی گسترده ، از سال 1390 به پشتوانه دانش و تجربیات ارزشمند مدیران، متخصصان و مشاوران مجرب خود که هریک از پیشکسوتان و صاحب‌نظران فعال در صنعت ساختمان و تاسیسات به شمار می‌روند، فعالیت خود را در زمینه مشاوره، طراحی، تامین و اجرای سیستم های هوشمند و مدیریت انرژی ساختمان و همچنین فناوری اطلاعات، شبکه و تکنولوژی نوین در حوزه شهری و صنعت ساختمان با تمرکز جدی بر دانش، تخصص و نوآوری و با هدف مدیریت بهینه سرمایه های انسانی و حضور اثر بخش در عرصه مدیریت انرژی و ساختمان آغاز نمود.
                            چشم‌انداز شرکت، ایجاد یک مجموعه کاملاً تخصصی با تکیه بر دانش و استانداردهای روز دنیا و جذب مهندسان کارآمد در زمینه‌های تاسیسات الکتریکی، مکانیکی، انرژی و شبکه های کامپیوتری، با بهره‌گیری از دانش و تجربه سیستم‌های مدیریت هوشمند ساختمان و ارایه کامل خدمات مهندسی به کلیه شرکت‌های مهندسین مشاور، پیمانکاران و کارفرمایان محترم در این حوزه با تامین برندهای متنوع می‌باشد. شرکت هوشمند انرژی کاما درگام نخست، با توجه به نوع كاربري ساختمان، اقليم منطقه، نياز ساكنان، مشخصات مجموعه، اهداف و محدوديت‌هاي كارفرما و حجم سرمايه‌گذاري، نسبت به ارایه راه‌حل‌هاي مناسب براي ساختمان مورد نظر اقدام می‌کند. این شرکت با ارائه راهکارهای کاربردی مناسب، آخرین تکنولوژی روز دنیا را با هزینه منطقی و سهولت بسیار در اختیار مصرف کنندگان نهایی سیستم های اتوماسیون ساختمان قرار داده و کلیه خدمات مشاوره ای و منطقی خود را از فاز طراحی تا تحویل نهایی پروژه ارائه می نماید.
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <br /><br />

    </div>
</section>

