
@{
    ViewData["Title"] = "پروپوزال";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">پروپوزال</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12  wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="panel-group" id="accordion">

                    </div>


                </div>


            </div>
            <br /><br />

        </div>
    </div>
</section>

@section scripts {
    <script src="~/js/proposal.js"></script>
}

