
@{
    ViewData["Title"] = "امکانات خانه هوشمند";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">امکانات خانه هوشمند </span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <span class="ph1">روشنایی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            لامپ ها به جز روشن کردن فضا، کارهای دیگری هم می توانند انجام دهند. اگر از انواع درست آنها بجا و با فکر استفاده شود، نورشان می تواند یک تابلو، یک دیوار و یا هر چیزی که شما مایل باشید را از سایرین برجسته کند و یا حس و حال رمانتیکی را به فضای باز منزل ببخشد. اگر از سیستم روشنایی هوشمند استفاده کنید تمامی این کارها به صورت هوشمند و تنها با یک ضربه ی کوچک انگشت یا صدای شما انجام شوند. از ویژگی های این سیستم می توان به موارد زیر اشاره نمود:
                        </p>
                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-6 text-right">
                                <img src="/img/Service/Lighting.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <span class="ph2">ویژگی ها: </span>
                                <br />

                                <ul>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>آسایش و سهولت کار در انجام کنترل مانیتورینگ یک خانه به صورت هوشمند</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>افزایش میزان کارایی افراد و کاهش زمان </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>بالا رفتن طول عمر تجهیزات یا افزایش کارایی تجهیزات </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کاهش هزینه های تعمیر و نگهداری به کمک مانیتورینگ و هوشمند سازی ساختمان </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>مولتی سنسور ها برای دستیابی به حداکثر کارایی با حداقل قیمت </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کاهش مصرف انرژی  با استفاده از سیستم روشنایی هوشمند </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>مدیریت زمانی سیستم روشنایی خانه هوشمند  </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>تنظیم شدت نور روشنایی یا دیم کردن سیستم روشنایی خانه هوشمند  </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>تنظیم حالت شب/روز در کنترل روشنایی در خانه هوشمند  </li>


                                </ul>
                            </div>

                        </div>
                        <br />
                        <br />

                        <span class="ph1">سرمایش و گرمایش</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            از آنجائیکه بخش عمده زندگی بشر امروزی در داخل ساختمان می گذرد، ایجاد شرایط مطلوب زیست محیطی در ساختمان، خواه محل کار باشد یا منزل دارای اهمیت بسیاری است. که مهمترین بخش آن فراهم کردن هوایی مطبوع برای ساکنین ساختمان با توجه به نوع فعالیت آنهاست. زیباترین و گرانبهاترین ساختمانها در صورتیکه فاقد سیستم تهویه مطبوع مناسب باشند قابل سکونت نخواهند بود. از مهم ترین وظایف یک سیستم تهویه مطبوع هوشمند عبارتند از: .
                        </p>
                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-6 text-right">
                                <img src="/img/Service/Conditioner.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <span class="ph2">وظایف : </span>
                                <br />

                                <ul>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل روشن و خاموش کردن خطوط روشنایی</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل دیم خطوط روشنایی </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل سیستم سرمایش و گرمایش </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل پرده و کرکره برقی </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل سیستم امنیتی  </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>فعال سازی سناریوها </li>


                                </ul>
                                <br />

                            </div>

                        </div>

                        <span class="ph2">ویژگی های : </span>
                        <br />

                        <ul>

                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل اتوماتیک هواساز در ساعات مختلف شبانه روز و فصول مختلف سال </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>عدم نیاز به تاسیسات کار ِ دائمی در ساختمان برای نظارت و سرکشی به هواساز </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل شرایط محیطی (دما، رطوبت، آلاینده ها و …) بسته به نوع کاربری ساختمان (اداری، مسکونی، تجاری، بیمارستانی و…) </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل هوشمند هوای تازه و هوای بازگشتی به تناسب حضور افراد در ساختمان به منظور صرفه جویی در مصرف انرژی </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کنترل آلاینده های سیال درهوا با اندازه گیری لحظه ای گازهای موجود در هوا و کنترل میزان آنها جهت حفظ سلامت محیط </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>رفه جویی در مصرف انرژی گرمایشی/سرمایشی و هزینه های قبوض انرژی ساختمان </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>ینه سازی ساعات کارکرد و افزایش عمر تجهیزات هواساز با کنترل هوشمند کارکرد سیستم </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قابلیت تطبیق شرایط کاری هواساز بصورت هوشمند با تغییر فصل و دمای بیرونی ساختمان </li>



                        </ul>
                        <br />
                        <br />


                        <span class="ph1">سیستم امنیتی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            امروزه امنیت نیازی اساسی در زندگی ما می باشد، این نیاز به سادگی با وجود فناوری های پیشرفته در سیستم های امنیتی برای ما ایجاد می گردد، اما از آنجا که بوجود آوردن شرایط ایده آل برای ایجاد امنیت بوجود نمی آید، مگر با پیشرفت و توسعه و ارائه تجهیزات به روز و کارآمد.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            امروزه با پیشرفت های بوجود آمده در زمینه سیستم های هوشمند ساختمان ساکنین می توانند به راحتی  از طریق سیستم خانه هوشمند و مجموعه تجهیزات و سنسور های امنیتی از سادگیه سیستم های گوناگون امنیتی سنتی راحت شده و همه این تجهیزات را در سیستم هوشمند تجمیع کنند و به راحتی از طریق اینترفیس های موجود از محل زندگی و یا از طریق گوشی موبایل یا تبلت از هرجایی از دنیا امنیت خانه خود را در اختیار داشته باشند.
                        </p>

                        <br />
                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-6 text-right">
                                <img src="/img/Service/Security.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <span class="ph2">ویژگی ها : </span>
                                <br />

                                <ul>

                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سیستم نظارت تصویری تحت شبکه </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سیستم اعلام ورود غیر مجاز</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قابلیت اتصال سیستم اعلام حریق به سیستم  </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سیستم گشت و نگهبانی خودکار</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سیستم کنترل دسترسی افراد </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سیستم کنترل تردد خودکار خودرو </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>اتصال آسانسور و پله برقی به BMS </li>



                                </ul>
                                <br />

                            </div>

                        </div>

                        <span class="ph1">سیستم صوتی و تصویری</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            با استفاده از این سیستم می توان در کلیه فضاها موزیک، صوت و رادیو را به صورت مرکزی و آدرس پذیر پخش نمود. بدین وسیله کاربر قادر خواهد بود از طریق کلیدهای هوشمند، صفحات نمایش لمسی، ریموت کنترل و موبایل نوع منبع صوت، آهنگ مورد نظر، شدت صوت و ... را پخش و کنترل نماید. با توجه به قابلیت سیستم صوتی می توان با ایجاد سناریو های متفاوت برای زمان و شرایط متفاوت از این قابلیت بهره حداکثری برد.
                        </p>

                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-5 text-right">
                                <img src="/img/Service/Multimedia.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-7 text-right">
                                <span class="ph2">سناریو ها: </span>
                                <br />

                                <ul>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو ورود: در هنگام ورود به خانه و تنها با فشردن یک کلید، می توان به صورت خودکار سیستم صوت را فعال نمود.  </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو خروج: در هنگام خروج از خانه و تنها با فشردن یک کلید، می توان سیستم صوت را خاموش نمود.</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو مهمان: در هنگام مهمانی و تنها با فشردن یک کلید، می توان بر اساس برنامه تعریف شده، آهنگ های مورد نظر را به صورت خودکار از اسپیکرهای مورد نظر پخش نمود.  </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو شام: در هنگام صرف شام و تنها با فشردن یک کلید، می توان بر اساس برنامه تعریف شده، آهنگ های مورد نظر را به صورت خودکار پخش نمود.  </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو خواب: در هنگام خواب و تنها با فشردن یک کلید می توان منبع صوتی مورد نظر را روشن و یا خاموش نمود. </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو شبیه سازی حضور: در هنگام حضور در بیرون از ساختمان و تنها با استفاده از SMS یا اینترنت می توان با پخش موزیک یا رادیو، حضور در منزل را شبیه سازی نمود. </li>



                                </ul>
                            </div>

                        </div>
                        <br />
                        <br />

                        <span class="ph1">آیفون و ارتباط داخلی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            از طریق پنل داخلی آیفون هوشمند شما به راحتی می توانید با استقرار پنل های کنترل در بخش های مختلف خانه به راحتی پاسخگوی درخواست های تماس باشید. این امکان وجود دارد تا شما از طریق تنظیمات آیفون تحت شبکه به راحتی پاسخگوی تماس در هر نقطه از خانه باشید.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            یکی از نشانه های قدرت آیفون های تحت شبکه، نرم افزار مدیریت و انتقال صدا و تصویر آنهاست. در این میان آیفون های تحت شبکه اگر بدرستی از SIP پشتیبانی کنند میتوانند امکانات خیلی خوبی را در اختیار مصرف کننده قرار دهند. شما به راحتی می توانید درخواست های تماس از طریق پنل بیرونی را به پنل های مختلف در خانه حتی بین مجتمع های مختلف انتقال دهید.
                        </p>

                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-5 text-right">
                                <img src="/img/Service/Iphone.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-7 text-right">
                                <span class="ph2">قابلیت ها: </span>
                                <br />

                                <ul>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قابلیت ارتباط داخلی بین طبقات </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قابلیت ارتباط صوتی و تصویری از طریق تلفن همراه هوشمند با پنل</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قابلیت تماس با نگهبانی</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>مشاهده دوربین های مداربسته داخل ساختمان</li>




                                </ul>
                            </div>

                        </div>
                        <br />
                        <br />

                        <span class="ph1">پرده و کرکره برقی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            با استفاده از این سیستم می توان باز و بسته بودن و تغییر جهت پرده ها و کرکره های برقی را تحت کنترل در آورد. بدین وسیله کاربر قادر خواهد بود از طریق کلیدهای هوشمند، صفحات نمایش لمسی، ریموت کنترل، موبایل یا فرامین صوتی پرده را باز و یا بسته نموده و جهت آن را تغییر دهد. از جمله سناریوهای قابل تنظیم عبارت اند از: 
                        </p>
                        
                        <br />
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-5 text-right">
                                <img src="/img/Service/Cartan.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-7 text-right">
                                <span class="ph2">سناریو ها: </span>
                                <br />

                                <ul>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو ورود: در هنگام ورود به خانه و تنها با فشردن یک کلید، می توان به صورت خودکار پرده ها را باز نمود. </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو خروج: در هنگام خروج از خانه و تنها با فشردن یک کلید، می توان کلیه پرده ها را به صورت خودکار بست.</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو مهمان: در هنگام مهمانی و تنها با فشردن یک کلید، می توان بر اساس برنامه تعریف شده، پرده ها را کنترل نمود. </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو شام: در هنگام صرف شام و تنها با فشردن یک کلید، می توان بر اساس برنامه تعریف شده، پرده ها را کنترل نمود. </li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو خواب: در هنگام خواب و تنها با فشردن یک کلید می توان کلیه پرده های مورد نظر را بست.</li>
                                    <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سناریو شبیه سازی حضور: در هنگام حضور در بیرون از ساختمان و تنها با استفاده از SMS یا اینترنت می توان با باز و بسته نمودن پرده ها، حضور در منزل را شبیه سازی نمود. </li>





                                </ul>
                            </div>

                        </div>
                        <br />
                        <br />



                    </div>
                </div>


            </div>
            <br /><br />

        </div>
    </div>
</section>

