
@{
    ViewData["Title"] = "پارکینگ هوشمند";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">پارکینگ هوشمند  </span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <p style="line-height: 2;" align="justify">
                            امروزه با افزایش جمعیت نیاز به جای پارک برای  وسایل نقلیه به یک معظل بزرگ در شهر ها تبدیل شده است. به همین دلیل نیاز به پارکینگ امری ضروری طلقی می شد. با ساخت تعداد زیادی پارکنیک سعی در بر طرف کردن مشکل پارک ماشین ها کردن. اما با پیشرفت سیستم های مکانیزه پارکینگ های هوشمند طراحی کردن تا در کمترین فضا بهترین استفاده را ببرند. پارکینگ هوشمند دارای یک سیستم اتوماتیک و مکانیکی  می باشد، که به آن پارکینگ مکانیزه نیز گفته می شود.
                        </p>
                        <br />
                        <br />
                        <span class="ph1">مزایای پارکینگ هوشمند</span>
                        <br />

                        <ul>
                            <li>&nbsp;<i class="fa fa-check">&nbsp;</i>در یک فضای کم تعداد زیادی ماشین را در خود جای می دهد.</li>
                            <li>&nbsp;<i class="fa fa-check">&nbsp;</i>کاهش ترافیک های شهری</li>
                            <li>&nbsp;<i class="fa fa-check">&nbsp;</i>سرعت ورود و خروج ماشین ها بالاست.</li>
                            <li>&nbsp;<i class="fa fa-check">&nbsp;</i>دیگر نیازی نیست مدت ها دنبال جای پارک بگردی</li>
                            <li>&nbsp;<i class="fa fa-check">&nbsp;</i>امنیت بالای پارکینگ ها</li>


                        </ul>
                        <br />
                        <br />
                        <span class="ph1">انواع پارکینگ هوشمند</span>
                        <br />

                        <ul>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پارکینگ هوشمند روتاری.</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پارکینگ هوشمند خانگی</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پارکینگ هوشمند پازلی</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پارکینگ هوشمند برجی</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پارکینگ هوشمند زیرزمینی</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پارکینگ هوشمند جکی</li>


                        </ul>
                        <br />

                        <span class="ph1">پارکینگ هوشمند شهری</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            گسترش شهر ها  با نیاز به جای پارک ارتباط مستقیم دارد. حجم بالایی ماشین و در شهر های بزرگ و روبه رو شدن با مشکل جای پارک از جمله مشکلات زندگی شهری است اما با گسترش علم و فن آوری در تمام زمینه ها حتی ساخت پارکینگ ها این امکان را به ما می دهد تا در شهر ها پارکینگ های هوشمند بسازیم برای راحتی بیشتر و با ساخت پارکینگ هوشمند در کمترین فضا بیشترین ماشین را  در خود جای دهد. پارکینگ هوشمند شهری شامل، ماشین آلات مکانیکی ، الکترونیکی و دیجیتالی است.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">تجهیزات پارکینگ هوشمند</span>
                        <br />

                        <ul>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>سسنسور دوربین</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کیوسک جست و جو ماشین</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کارت خوان برد بلند</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>چراغ راهنمای ورودی</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>کارت هوشمند</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>نمایشگر اعداد</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پرینتر حرارتی</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>راهبند </li>


                        </ul>
                        <br />
                        <div class="row text-center">
                            <img src="/img/Service/Smartparking.png" style="border-radius: 5px; " />
                        </div>

                        <span class="ph1">سیستم پارکینگ هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            هدف از سیستم مدیریت پارکینگ هوشمند،  افزایش جای پارک برای ماشین ها است. در این سیستم تمام اطلاعات مربوط فضا های پارکینگ، به صورت لحظه ای از طریق آشکارسازهای اولتراسونیک که در بالای هر جای پارک ماشین نصب شده است جمع آوری می شود این اطلاعات جمع آوری شده به پردازشگر اصلی ارسال می شوند و پردازشگر، داده های بدست آورده را به نمایشگر مختص آن جای پارک ارسال می کنند. با این سیستم متوجه می شوند چه تعداد ماشین در پارکینگ وجود دارد.
                        </p>

                        <br />
                        <br />

                        <span class="ph1">دتکتورهای پارکینگ هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            تمام پارکینگ های هوشمند دارای یک سیستم شناساگر می باشند که در بالای سر هر جایگاه ماشین نصب شده است که حضور یا عدم حضور ماشین در جایگاه را نشان می دهد.  به این نشانگرها دتکتور می گویند. این دتکتورها انواع مختلفی دارند، و هر کدام ویژگی خاص خود را دارند.
                        </p>

                        <br />
                        <br />

                        <span class="ph1"> انواع دتکتور ها: </span>
                        <br />

                        <ul>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>مافوق صوت </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>مغناطیسی (حسگر دوربینی می باشد،که می توان برای پارکینگ های سقف دار و بدون سقف از آن ها استفاده کرد.)</li>

                        </ul>
                        <br />
                        <br />
                        <span class="ph1">اندیکاتورها</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            وظیفه اندیکاتورها  اطلاع رسانی در زمینه خالی و یا پر بودن هر جای پارک خودرو است. در ابتدای یا ورودی هر راهرو یک اندیکاتورنصب شده است، رانندگان می توانند با توجه به این نمایشگر متوجه پر و یا خالی بودن و رزو بودن جای پارک ماشین شوند.  اندیکاتورها دارای رنگ های متنوعی مثل  سبز، قرمز، زرد، آبی هستند.
                        </p>

                        <br />
                        <br />


                        <span class="ph1">تابلوهای نشانگر تعداد فضای خالی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            تابلو های نشانگر  انواع مختلفی دارند و برای نشان دادن تعداد فضای خالی کاربرد دارند.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">تابلوهای نشانگر تعداد فضای خالی داخل پارکینگ</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            این تابلوها به ما کمک می کنند تعداد فضای خالی در پارکینگ در جهت های راست، چپ، مستقیم را شناسایی کنیم. که ابتدا هر تقاطع های موجود در پارکینگ نصب می شود
                        </p>

                        <br />
                        <br />
                        <span class="ph1">تابلوهای نشانگر تعداد فضای خالی طبقات</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در ابتدای ورودی اصلی پارکنیگ  تابلو نشانگر فضای خالی طبقات نصب می شود و با کمک آن از تعداد فضای خالی پارکینگ مطلع می شویم.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">تابلوهای نشانگر تعداد فضای خالی شهری</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            از این تابلوها برای مطلع بودن از جایگاه خالی ماشین ها در پارکینگ استفاده می شود و در نقاط مختلف شهر نصب می شود.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">نرم افزار کنترلی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            با استفاده از این نرم افزار می توانیم پلان دوبعدی پارکینگ را نشان دهیم همچنین متوجه خالی و یا پر بودن جایگاه ماشین در پارکینگ شویم، این یک نرم افزار جامع و کامل است که ویژگی آن، آمار گیری ساعتی، روزانه، هفتگی و ماهیانه است.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">پرداخت هزینه پارکینگ به صورت هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            دستگاه های پیشرفته پرداخت اتوماتیک را در قسمت خروجی پارکینگ یا داخل ساختمان پارکینگ نصب می کنند تا رانندهگان خودروها به راحتی هزینه  پارک ماشین خود را پرداخت کنند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            از جمله ویژگی های دستگاه  پرداخت هزینه پارکینگ هوشمند عبارتند از :
                        </p>
                        <ul>

                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>هزینه پارکینگ بر اساس کارت هوشمند محاسبه می شود. </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>هزینه پرداختی را با سیستم بانکی و اسکناس های ایران تطابق می دهد. </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>برای محاسبه هزینه پارکینگ نیاری به اپراتور نیست. </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>  صفحه نمایشگر رنگی دارد  تا پرداخت به راحتی انجام شود، همچنین دارای سیستم صوتی می باشد. </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>گزارشات مالی را به درستی ارائه می دهد. </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>توسط UPS شارژ می شود. </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i> سیستم هم در مواقع آنلاین و هم آفلاین کار می کند. </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قبض هزینه پرداخت شده را چاپ می کند. </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>برقراری و اتصال به شبکه های کارتهای شتاب. </li>


                        </ul>

                        <br />
                        <br />

                        <span class="ph1">سیستم های کنترلی RFID</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در این سیستم یک کارت به هر کاربر پارکینگ ارائه می شود با کمک این کارت علاوه بر اینکه یک شناسه دریافت می کند از محل دقیق پارک، زمان پارک و خروج و همچنین تکرار استفاده از جای پارک خود مطلع می شود در ضمن برای مشتریان ثابت می توانید جایگاه پارک را رزو نگهداریم با این روش دیگر نیازی نیست این نوع اتومبیل ها کارتی دریافت کنند در هنگام ورود به پارکینگ، راهبند بصورت خودکار راه را برای آنها باز می کند.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">سیستم های کنترلی NFC</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در سیستم کنترلی NFC رانندگاه می توانند بدون پرداخت اسکناس  یا کارت اعتباری با کمک تلفن همراه خود هزینه پارکینگ را پرداخت کنند.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">قفل پارکینگ هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            زمانی که یک ماشین دیگر در محل جای پارک ماشین شما در پارکینگ منزلتان پارک کرده است و شما نمی دانید ماشین کدام همسایه است، برای رفع این مشکل می توانید از قفل پارکینگ هوشمند استفاده کنید. با استفاده از این قفل می توانید مانع از ورود خودروهای دیگر به جای پارک خود شوید.  شما در هر لحظه از شبانه روز می توانید ماشین خود را در محل پارک اختصاصی خود قرار دهید. انواع مختلفی از قفل های پارکینگی وجود دارد قفل های پارکینگ ساده و قفل های پارکینگ ریموت دار. قفل های ریموت دار این توانایی را دارد که در هر لحظه شما می توانید توسط ریموت فقل را باز کنید.
                        </p>

                        <br />
                        <br />
                        <span class="ph1">پارکینگ هوشمند با RFID</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            ماشین با استفاده کارت RFID  وارد پارکینگ می شود، در ابتدا ورودی پارکینگ راهبر که با کمک یک سروو موتور  بالا  می رود و به ماشین اجازه ورود به پارکینگ را می دهد، مبلغی برای اعتبار این کارت ها در نظر گرفته می شود و با هر بار کارت زدن  مقداری از اعتبار کارت کم می شود، مبلغ کسر شده و موجودی کارت بر روی صفحه نمایشگر نشان داده می شود، و از طریق پیامک  تمام اطلاعات به دارنده کارت ارسال می گردد..
                        </p>

                        <br />
                        <br />
                        <span class="ph1">پارکینگ هوشمند اینترنت اشیا</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در جایگاه های پارک یک سيستم پارکينگ هوشمند اينترنت اشيا تعبیه می شود تا در صورت پر یا خالی بودن اطلاعات مربوط به جایگاه پارک را به سرور انتقال دهد در این صورت رانندگان  با نصب اپليكيشن اندرويدي می توانند به این سرور ها دسترسی پیدا کنند و نزدیکترین مکان برای پارک کردن ماشین خود را پیدا کنند. در اين سیستم يك سنسور  براي تشخيص وجود خودرو استفاده شده که در كف، سقف يا روي ديوار پاركينگ نصب می گردد..
                        </p>

                        <br />
                        <br />
                        <span class="ph1">سنسور پارکینگ هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            تمام پارکینگ های هوشمند دارای یک سیستم هدایت هوشمند  هستند. در تمام جایگاه های پارک خودرو یک سنسور نصب شده است این سنسور حضور یا عدم حضور خودرو  را تشخیص می دهد.
                        </p>

                        <br />
                        <br />
                        <div class="row text-center">
                            <img src="/img/Service/Smartparking2.png" style="border-radius: 5px; " />
                        </div>
                        <br />
                        <span class="ph1">پروژه پارکینگ هوشمند</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            پروژه پارکینگ هوشمند این امکان را می دهد تا با  نشان دادن کم و یا زیاد شدن تعداد ماشین ها بر روی صفحه نمایشگر ظرفیت پارکینگ مشخص شود، حتی می توانید بعضی از جایگاه های پارک را برای مشتریان ثابت رزو نگه داشت، در زمان صرفه جویی می شود دیگر نیاز نیست مدت ها به دنبال جای پارک بگردیم. در این پارکینگ ها از سنسور ها و دوربین ها استفاده می کنند تا نشان دهد چند جایگاه خالی برای پارک ماشین وجود دارد.
                        </p>

                        <br />
                    <br />
                    <span class="ph1">پارکینگ هوشمند طبقاتی</span>
                    <br />
                    <p style="line-height: 2;" align="justify">
                        مهم ترین مزیت پارکینگ هوشمند طبقاتی این است که در یک فضای کم تعداد ماشین زیادی را در خود جای می دهد. در این نوع پارکینک نیازی به وجود رمپ نیست. اگر پارکینگ های هوشمند طبقاتی را سر موقع سرویس شوند طول عمر بیش از ۵۰ سال خواهند داشت .
                    </p>

                    <br />
                    <br />
                    <span class="ph1">قیمت پارکینگ هوشمند</span>
                    <br />
                    <p style="line-height: 2;" align="justify">
                        هزینه پارکینگ  هوشمند به عوامل مختلفی بستگی دارد، عواملی مثل  ابعاد پارکینگ، نوع پارکینگ، تعداد جای پارک خودرو در پارکینگ، تجهیزات مورد استفاده در پارکینگ، موقعیت جغرافیایی پارکینگ که تک تک این موارد تاثیر مستقیمی بر روی قیمت آن دارند.
                    </p>

                    <br />
                    <br />
                    </div>
                </div>
            </div>


        </div>
        <br /><br />

    </div>
</section>

