
@{
    ViewData["Title"] = "SmartSystemIot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">اینترنت اشیا IOT   </span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <p style="line-height: 2;" align="justify">
                            اینترنت اشیا (IoT) نوید بخش ایجاد ساختمان های هوشمند را با انسجام بیشتر زیرساخت ها  و در کل یکپارچگی بیشتر میان سخت افزار و نرم افزار را فراهم می کند. با IoT می توان به راحتی دما ، تهویه ، روشنایی ، انواع دسترسی ، پارکینگ ، فضای اتاق ، آسانسور و مصرف انرژی در یک مرکز یا یک واحد مسکونی و یا اداری را  چه در محل و چه از راه دور به راحتی مدیریت و کنترل نمود.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            برنامه های IoT آینده نگر به نظر می رسند اما اکنون بسیاری از آنها موجود و در دسترس هستند. پیمانکاران و یکپارچه سازندگان و توسعه دهندگان سیستم های اتوماسیون ساختمان (BAS = building automation systems) در سال جاری سؤال ها با توجه به نیازها و درخواست مشتریان در مورد IoT برای ساختمان ها در تلاش هستند تا پاسخی منطقی و به آنها بدهند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            "اینترنت اشیا" را می توان به عنوان تعداد زیادی از نقاط ارسال داده به یک محیط ابری تعریف کرد که در آن می توان از تجزیه و تحلیل ها برای تأثیرگذاری بر نتایج استفاده کرد.
                        </p>
                        <br />
                        <span class="ph1">برای شروع بهتر است بدانیم واژه ، IoT چیست؟</span>
                        <p style="line-height: 2;" align="justify">
                            امروز، عبارت «اینترنت اشیاء» همه‌ی دنیای فناوری اطلاعات و ارتباطات را فراگرفته است. انرژی هوشمند، کشاورزی هوشمند، دامپروری هوشمند، خانه و ساختمان هوشمند، حمل‌ونقل هوشمند، سلامت هوشمند و به‌طور کلی شهر و محیط‌زیست هوشمند، اصطلاحاتی هستند که شمار بسیاری از سیاستمداران، مدیران، متخصصان و کسب‌وکارها را در سراسر جهان، شیفته‌ی ویژگی‌های بی‌مانند این جلوه‌ی نوپیدای فناوری کرده‌اند. امروز اینترنت اشیاء با راهکارهای هوشمند خود در همه‌ی ابعاد زندگی بشر رخنه کرده و نویدبخشِ آینده‌ای بهره‌ور، دلپذیر و آسوده است. در نخستین بخش از سلسله‌ مقالات اینترنت اشیاء، می‌خواهیم شما را با مفهوم IoT، تاریخچه، کارکرد و مزایای آن بیشتر آشنا کنیم. پس با ما همراه باشید.
                        </p>
                        <br />
                        <div class="row text-center">
                            <img src="/img/Service/IOTEcoSystem.png" style="border-radius: 5px; ">
                        </div>
                        <br />
                        <span class="ph1">مفهوم اینترنت اشیاء و اهمیت آن در دنیای امروز</span>
                        <p style="line-height: 2;" align="justify">
                            اینترنت اشیاء یا IoT، سیستمی به‌هم‌پیوسته از تجهیزات رایانه‌ای، ماشین‌های مکانیکی و دیجیتال، اشیاء، حیوانات یا افرادی است که با شناسه‌های منحصربه‌فرد (UID) هویت یافته‌اند و از قابلیت انتقال داده‌ها روی یک شبکه بدون نیاز به تعامل انسان-با-انسان یا انسان-با-رایانه برخوردار هستند.
                            یک شیء در اینترنت اشیاء می‌تواند انسانی باشد که یک دستگاه پایش قلب در بدنش نصب شده است؛ یا دامی با یک ترانسپوندر  بیولوژیک، یا خودرویی که با حسگرهای تعبیه‌شده در آن، راننده را از فشار کم لاستیک‌ها آگاه می‌کند یا هر شیء طبیعی یا انسان‌ساخت دیگر که می‌تواند با اختصاص یک آدرس IP داده‌ها را روی یک شبکه انتقال دهد.
                            امروزه، سازمان‌ها در صنایع و کسب‌وکارهای گوناگون، به‌‌شکلی فزاینده‌ از قابلیت‌های اینترنت اشیاء بهره می‌گیرند تا کارآمدتر و اثربخش‌تر عمل کنند؛ آنها با بهره‌مندی از دستاوردهای اینترنت اشیاء، به درکی بهتر و شایسته‌تر از مشتریان‌شان دست می‌یابند و می‌توانند خدماتی بهینه‌تر به آنها ارائه کنند. اینترنت اشیاء فرایند تصمیم‌سازی و تصمیم‌‌گیری را در سازمان بهبود می‌بخشد و ارزش کسب‌وکار را به‌شکلی چشمگیر افزایش می‌دهد.
                            برخی از کاربردهای اینترنت اشیا در خانه‌ها به شرح زیر است:

                        </p>
                        <ul>
                            <li>&nbsp;<i class="fa fa-check">&nbsp;</i>مدیریت انرژی: ترموستات‌ها و حس‌گرهایی که رفتارها را بررسی و بهترین دما را برای خانه‌ها فراهم می‌کنند.</li>
                            <li>&nbsp;<i class="fa fa-check">&nbsp;</i>امنیت و ایمنی: جمع‌آوری اطلاعات با استفاده از دوربین‌ و حس‌گرها، آنالیز داده و هشدار به کاربر در مواقعی که نیاز است.</li>
                            <li>&nbsp;<i class="fa fa-check">&nbsp;</i>انجام امور خانه: لوازم برقی هوشمند می‌توانند به‌طور مستقل (بدون دخالت انسان) عمل کنند تا کارهایی مانند درست کردن قهوه، خورد کردن غذا، جاروبرقی کشیدن را به‌صورت خودکار و بر اساس آنالیز رفتارهای انسانی انجام دهند.</li>
                        </ul>
                        <p style="line-height: 2;" align="justify">
                            برای مثال یک IoT می‌تواند با بررسی الگوهای مصرف روزانه و تعیین اولویت‌ها خانواده در مواقعی که لازم است به‌صورت خودکار غذاهای موردنیاز را سفارش دهد.
                        </p>
                        <br />
                        <span class="ph2">انرژی</span>
                        <p style="line-height: 2;" align="justify">
                            کنتورهای هوشمند نه‌تنها به‌طور خودکار داده‌ها را جمع‌آوری می‌کند بلکه این امکان را فراهم می‌آورند که با تجزیه‌وتحلیل میزان استفاده از انرژی به مدل‌سازی پیش‌گویانه‌ای برای زمان‌بندی استفاده از انرژی کارآمد برسند و مصرف انرژی را بهینه سازند.
                        </p>

                        <span class="ph2">شهرها</span>
                        <p style="line-height: 2;" align="justify">
                            مفهوم شهرهای هوشمند با تکامل حوزه‌هایی که پیش‌تر گفتیم، در حال تبدیل شدن به یک واقعیت است خدمات شهرهای هوشمند مانند بیمارستان‌های هوشمند، ساختمان‌های هوشمند، شبکه‌های پارکینگ هوشمند،کارخانه‌های هوشمند و … در حال شکل‌گیری است. با توسعه حس‌گرها، دوربین‌های امنیتی، چراغ‌های کنترل ترافیک در سطح شهر و اتصال آن‌ها به یکدیگر اطلاعات جامعی برای آنالیز رفتار انسان در شهر به دست می‌آید که برنامه ریزان شهری بر اساس آن می‌توانند شهری سالم و پویا برای شهروندان (نه ماشین)‌ بسازند.
                        </p>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در زمینه برنامه های کاربردی مدیریت ساختمان ، IoT را می توان به عنوان تعداد زیادی از نقاط داده وارد محیط ابری تعریف کرد که در آن می توان از تجزیه و تحلیل ها برای تأثیرگذاری بر نتایج استفاده کرد.
                        </p>

                        <div class="row text-center">
                            <img src="/img/Service/IOT2.png" style="border-radius: 5px; "/>
                        </div>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            IoT برنامه های متنوعی را با استفاده از دستگاه های متصل و سیستم های پشتیبانی تصمیم گیری محور داده امکان پذیر می کند. سودمندترین اینها دانش پیش بینی یا پیشگیرانه ای را در مورد پارامترهای عملیاتی ساختمان یا تأسیسات در خارج از منطقه هدف ارائه می دهد. نمونه ها شامل دمای فضای بالاتر یا زیر مقادیر سطح توافق نامه سرویس یا نرخ مصرف انرژی در بالای محدوده عملیاتی هدفمند است. استفاده از تجزیه و تحلیل برای درک آنچه در یک ساختمان اتفاق می افتد و سپس اصلاح های مناسب انجام می شود ، مهمترین پیشرفت با استفاده از IoT و فناوری ساختمان هوشمند است. این امر امکان حل سریع مسائل را فراهم می کند و حتی می تواند قبل از ظهور ، اقدامات پیشگیرانه ای برای حل مشکلات انجام دهد. از فن آوری IoT حتی می توان به عنوان روشی برای مأموریت مستمر تأسیسات استفاده کرد
                        </p>
                        <p style="line-height: 2;" align="justify">
                            استفاده از تجزیه و تحلیل برای درک آنچه در یک ساختمان اتفاق می افتد و سپس اصلاح های مناسب انجام می شود ، مهمترین پیشرفت با استفاده از IoT و فناوری ساختمان هوشمند است.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            از آنجا که مقالات و کنفرانس های بیشتر توجه خود را به مفهوم ساختمان های هوشمند و IoT می کنند ، صاحبان ساختمان از یکپارچه سازان می خواهند که ساختمان خود را هوشمندانه کنند. در حالی که یک مجتمع می تواند از این امر به عنوان دریچه ای برای شروع فروش هر تعداد فناوری پیشرفته استفاده کند ، پاسخ بهتر این است که بدانید صاحبان تسهیلات فکر می کنند یک ساختمان هوشمند چیست و درک انتظارات آنها. در تحلیل نهایی ، استفاده از IoT برای ایجاد یک ساختمان هوشمند باید ارزش افزوده ای را برای یک تجارت ایجاد کند تا ارزشمند باشد. استفاده از ساختمان هوشمند و فناوری IoT باید سه نکته مهم را انجام دهد:
                        </p>
                        <ul>
                            <li class="ph2">کاهش هزینه های</li>
                            <li class="ph2">خطر و ریسک را کاهش دهید</li>
                            <li class="ph2">تجربه سرنشین را بهبود بخشید</li>
                        </ul>

                        <p style="line-height: 2;" align="justify">
                            تحقق همه این اهداف درنهایت با صرفه جویی در هزینه و افزایش درآمد ، به یک ملک افزوده می شود. هنگامی که پیمانکاران می توانند این موارد را به مشتریان ارائه دهند ، فناوری IoT که ارائه می دهند یک ROI قابل اندازه گیری را ارائه می دهد
                        </p>
                        <p style="line-height: 2;" align="justify">
                            قدم اول کشف اهداف ویژه اپراتور تأسیسات برای ساختمان است. اینها بسته به نوع و کاربرد تسهیلات متفاوت خواهد بود. اهداف بیمارستان متفاوت از اهداف دانشگاه خواهد بود که با اهداف یک ساختمان اداری تجاری متفاوت خواهد بود. هر چه IoT و فناوری ساختمان هوشمند مورد استفاده قرار گیرد ، باید نتایج را به دنبال داشته باشد كه به مسائل تجاری مربوط به تسهیلات خاص می پردازد. صرف داشتن فناوری باعث نمی شود ساختمان هوشمند شود - باید از فناوری برخوردار باشد که اهداف اپراتور و سرنشینان را پشتیبانی می کند و باید افرادی در آن حضور داشته باشند تا از این فناوری به طور مؤثر استفاده کرده و از آن استفاده کنند
                        </p>
                        <p style="line-height: 2;" align="justify">
                            از دیدگاه تجاری ، صاحبان علاقه مند هستند که تجربیات و فرآیندهای مشتری را بهبود بخشند ، اثربخشی عملیاتی ساختمان را افزایش داده و میزان مصرف انرژی را کاهش دهند ، همه این ها به هدف بهینه سازی عملکرد مالی خارج از ساختمان می رسد. چندین اپراتور تسهیلات وجود دارد که به دنبال این هستند که با استفاده از IoT تحویل داده شود. یکی انعطاف پذیری بیشتر در مدیریت سیستم ها ، مانند دسترسی به سیستم بی سیم از طریق تلفن و تبلت است. همچنین تمایل به ایجاد تنظیمات عملیاتی بیشتر از جمله تنظیم دما ، افزایش زمان برنامه ریزی و اندازه گیری هوشمند دقیق برای سرنشینان ساختمان وجود دارد. برخی از اپراتورهای تأسیسات معتقدند برنامه هایی مانند کنترل راحتی شخصی ، روشنایی کم نور و سازگاری با فضای کار می توانند در بهره‌وری نیروی کار بالاتر و رضایت مشتری نقش داشته باشند. اما برای اینکه این برنامه ها در دسترس باشند ، باید نقاط حسگر در جای خود قرار داشته باشند و سیستم های مکانیکی بر این اساس منطقه بندی شوند ، بنابراین این سطح اتصال در ساختمان جدید نسبت به یک برنامه مقاوم سازی ساده تر است.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            هنگام استفاده از فناوری IoT ، لازم است همه ذینفعان - مشاوران ، طراحان ، نصب کننده ها ، مجتمع ها ، صاحبان ، اجاره دهنده ها ، مدیریت تسهیلات ، IT شرکت ها - در همان صفحه درگیر شوند. طراحی و اجرای باید تلاش مشترک با همه طرفین باشد زیرا اگر یک قطعه از پازل IoT به درستی اجرا نشود ، بخش هایی از ساختمان کارایی نخواهد داشت.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            امنیت شبکه هنگام ادغام یک ساختمان در IoT بسیار مهم است زیرا ، بر خلاف BAS سنتی که به طور مستقل کار می کند ، IoT به ستون فقرات فناوری اطلاعات سازمانی متکی است.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            هماهنگی و اعتماد بین یکپارچه سازنده ، کارکنان عملیات تسهیلات و کارکنان فناوری اطلاعات از روز اول بسیار مهم است. با همکاری مشترک ، همه طرف ها می توانند در مورد معیارهای ورود به سکوی IoT در زیرساخت های کلی فناوری اطلاعات توافق کنند. حداقل باید فایروال ها ، رمزگذاری داده ها و پروتکل های مجوز و تأیید اعتبار در آن وجود داشته باشد.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            پیمانکاران و یکپارچه سازان خواهند فهمید که سرویس دهی به ساختمان هوشمندی که در IoT یکپارچه شده است یک تجربه کاملاً متفاوت از کار در ساختمان معمولی است. استفاده از داده های 24/7 در زمان واقعی ، تمرکز را از یک مدل سرویس واکنشی به یکی از مواردی که پیشگیرانه تر است تغییر می دهد. به عنوان مثال ، فناوری IoT قادر خواهد بود اپراتورها را نسبت به تغییراتی که نشان می دهد مشکل احتمالی پیش از وقوع خرابی سیستم وجود دارد ، هشدار دهد. این امر به تکنسین ها این امکان را می دهد تا بطور فعالانه تعمیرات یا تنظیمات را از قبل انجام دهند تا اینکه پس از شکایت سرنشینان.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            سرانجام ، از آنجا که سرمایه گذاری مورد نیاز برای ایجاد یک ساختمان مجتمع IoT بسیار زیاد است ، اطمینان حاصل کنید که راه حل های موجود مقیاس پذیر و سازگار هستند. آماده ظهور سیستم ها با ظهور فن آوری های جدید باشید و اپراتورها از ویژگی ها و قابلیت های دیگری درخواست کنند که حتی امروزه مورد توجه قرار نگرفته است. پیشرفت در الگوریتم ها و تجزیه و تحلیل ، فن آوری های جدید برای تجارت و استفاده شخصی - همه اینها در آینده به وجود می آیند و مجتمع ها باید ساختمان های هوشمند امروز را آماده کنند تا به ساختمان های هوشمند فردا بپیوندند.
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <br /><br />

    </div>
</section>

