
@{
    ViewData["Title"] = "ویدیو ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">ویدیو ها</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">

                <div class="row VideoDiv">

                </div>

                <br />
                <br />

            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/js/Video.js"></script>
}