
@{
    ViewData["Title"] = "چرا هوشمند سازی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2><span class="color">چرا هوشمند سازی</span></h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">


                        <br />
                        <p style="line-height: 2;" align="justify">
                            در ابتدا باید در مورد اینکه چه عواملی یک خانه را هوشمند می سازد، بیندیشیم. همه سیستم های الکتریکی امروزی، روشنایی، گرمایش، پرده و سیستم های صوتی/ تصویری از یکدیگر مستقل هستند و به صورت مجزا عمل می کنند. تمایل برای افزایش سطح آسایش زندگی و تامین ایمنی فرد و خانواده او، الزامی جهت تجمیع همه تاسیسات ساختمان به وجود آورده است به گونه ای که این تاسیسات با هم کار کنند و با هم مرتبط باشند و در نهایت نیازهای خانواده را بهتر تامین کنند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            خانه هوشمند در حقیقت تجمیع همه تاسیسات خانگی جهت کنترل آنها از طریق یک پنل کنترلی در اتاق یا به صورت کنترل از راه دور از طریق یک یونیت کنترلی، کامپیوتر یا اینترنت می باشد. در حالتی که تعداد تجهیزات بسیار زیاد شود، تاسیسات سنتی بسیار پیچیده می شوند، راه حل این مشکل، تاسیسات هوشمند است. در اینجا هدف، دستیابی به صرفه جویی در مصرف انرژی، امنیت بیشتر خانه و خانواده و زیبایی بیشتر (یک پنل کنترلی روی دیوار نسبت به چندین کلید که سیستم های مختلفی را کنترل می کنند، زیباتر به نظر می رسد) می باشد. چنین سیستم هایی در ابتدا در ادارات نصب می شدند که در آنها صرفه جویی در مصرف انرژی اولویت داشت اما در بیست سال اخیر در خانه ها و آپارتمان ها نیز معمولاً به کار گرفته می شوند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            در ابتدا، اتوماسیون سیستم های هشدار، روشنایی و تهویه مطبوع ، جهت هوشمندسازی ساختمان ها انجام می شد. پیشرفت ها در علوم ارتباطات راه دور و کامپیوتر و تبدیل استانداردهای کارهای اداری موجب می شود تا تکنولوژی شبکه های کامپیوتری مانند سیستم های اتوماسیون و امنیتی مدرن به ساختمان ها راه یابد. با توجه به استفاده از کامپیوترها در تاسیسات مختلف، این قابلیت ایجاد می شود که همه پروسه های ساختمان پیگیری و کنترل شوند. یکپارچه سازی سیستم ها نشان داده است که می توان به صورت موثری منابع ساختمانی را مدیریت، امنیت آن را افزایش و سطح آسایش بالایی را برای کاربران آن فراهم کرد. نباید فراموش کرد که ایده ساختمان‏های هوشمند نه تنها ساخته و پرداخته تخیل نیست بلکه تلاش و قابلیت تکنولوژی و علم روز را منعکس می کند. طراحان با تاثیر بر شکل و نقش ساختمان ها، واقعیت جدیدی را ایجاد کرده و آن را با کیفیت بالایی تامین می کنند و از این رو انتظارات کاربران کنونی و احتمالاً آینده آن را برآورده می کنند.

                        </p>
                        <p style="line-height: 2;" align="justify">
                            چهار فاکتور بسیار مهمی که کاربران از ساختمان هوشمند انتظار دارند عبارت اند از:

                        </p>
                        <br />
                        <br />

                        <span class="ph1">آسایش</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            سیستم های اتوماسیون مدرن ساختمان از طریق عملکردهای کنترل و حالت هایی که به طور خودکار در پس زمینه در حال اجرا هستند از کاربر پشتیبانی می کنند. با استفاده از برنامه های کاربردی گسترده (پیاده سازی مرکزی ، کنترل روشنایی مداوم ، سایه و روشن کردن اتوماتیک ، پشتیبانی از معلولین) خواسته ها و نیازهای کاربر به بهترین وجه ارائه می شود. "ساختمان باید خود را با کاربر، و نه کاربر با ساختمان سازگار نماید.
                        </p>

                        <br />
                        <br />
                        
                        <span class="ph1">بهره ‏وری انرژی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            پتانسیل صرفه جویی در مصرف انرژی با اتوماسیون ساختمان بسیار زیاد است. به خصوص در هنگام استفاده از یک راه حل جامع(All in One)، که ادغام سیستم ها و فناوری های مختلف است، از منابع موجود بسیار بهتر استفاده می شود. در عین حال، استفاده کارآمد از منابع به شدت در محافظت از محیط زیست (به عنوان مثال پایین آمدن میزان انتشار CO2) نقش بسزایی دارد.
                        </p>
                           
                        <br />
                        <br />
                        <span class="ph1">کاهش هزینه ها</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            ادغام فن آوری های مختلف اجرای توابع مدیریت مرکزی مانند پیاده سازی، دسترسی از راه دور، کار تعمیر و نگهداری ، بایگانی داده ها را امکان پذیر می کند. به عنوان مثال، می توانید به جای چندین پیاده سازی برای هر زیر سیستم، از یک پیاده سازی مرکزی استفاده کنید. با این کار، هزینه های اولیه و جاری را صرفه جویی می کنید (به عنوان مثال کار تعمیر و نگهداری ، هزینه های آموزش کارمندان ، ...).
                        </p>
                           
                        <br />
                        <br />
                        <span class="ph1">امنیت</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            ساختمان هوشمند تنها برای انجام بعضی فعالیت‌های ساده و جذاب نیست. این روش می‌تواند در امور مهم‌تری از جمله افزایش امنیت ساختمان موثر باشد. دوربین‌های مداربسته، قفل‌های هوشمند، سیستم های کنترل تردد ، سیستم‌های هشدار که در صورت باز و بسته شدن درب پیام می‌دهد و… از جمله موارد مهمی هستند که به کمک هوشمندسازی خانه‌ها می‌توانند امنیت شما را افزایش دهند. به عنوان مثال تصور کنید که شما می‌توانید به کمک گوشی تلفن همراه و از راه دور، درب خانه را قفل کرده و یا باز کنید.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            اما این مورد تنها مزیت امنیتی سیستم ساختمان هوشمند نیست، بلکه بر اساس خلاقیت‌های گوناگون، می‌توانید از آن با اهداف مختلف استفاده نمایید. سیستم‌های هشدار آتش سوزی، زلزله، نشت گاز و… از جمله مواردی هستند که از این طریق موجب افزایش امنیت خانه‌های هوشمند می‌شوند.
                        </p>  
                        <br />
                        <br />


                    </div>
                </div>


            </div>
            <br /><br />

        </div>
    </div>
</section>

