
@{
    ViewData["Title"] = "WiFiSolutionGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>
                    <span class="color">
                        شبکه های بيسيم مبتنی بر استاندارد IEEE 802.11x
                    </span>
                </h2>
                <div class="border"></div>
                <br/>
                <div class="row text-center">
                    <img src="/img/Service/IEEE6.png" style="border-radius: 5px;" />
                </div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <span class="ph1">Wi-Fi چيست؟ </span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            Wi-Fi  تکنولوژي است براي راه اندازي شبکه هاي بدون سيم محلي که با استفاده از استانداردهاي 802.11  پياده سازي مي شود. با توجه به  روند رو به رشد اين تکنولوژي،  آمار و ارقام مربوط به  مصرف کنندگان اين تکنولوژي در حال ازدياد است. مشتريان اين ساختار به طور کلي عبارتند از مصرف کنندگان خانگي، شرکت ها، مراکز علمي و HotSpot  ها. Wi-Fi، خلاصه شده Wireless Fidelity مي باشد. در اين تکنولوژي دسترسي بدون سيم مطابق استاندارد هاي802.11  در اختيار مشترکين قرار مي گيرد. روش استفاده از Wi-Fi   شبکه اي با هزينه هاي مناسب و کاملتر از ساير شبکه هاي بدون سيم ايجاد مي کند. در شبكه هاي بدون سيم محلي (WLANs)، كاربران توسط كامپيوترها، laptop ها و ساير وسايل كه مجهز به كارتهاي بدون سيم هستند مي توانند به شبكه متصل شده و در عين حال از اطلاعات چندين پايگاه مرکزي (base station) استفاده كنند. توسط اين شبكه ها، سرعتي معادل حداقل 11 مگابيت و حداکثر 104مگابيت در هر ثانيه در اختيار كاربر قرار مي گيرد. از آنجا كه نقاط دسترسي سيار نبوده و به صورت ثابت مي باشند مي توانند به شبكه هاي گسترده (WAN) متصل شوند و امكان دسترسي به شبكه هاي ديگر از جمله اينترنت نيز توسط اين تكنولوژي فراهم شود. كاربراني كه داراي تجهيزات سيار نيز هستند با اتصال به اين نقاط دسترسي، مي توانند از امكانات آنها استفاده كنند. همچنين، Wi-Fi اين امكان را فراهم مي آورد كه كاربران امكان اتصال به يكديگر را داشته باشند و وسايلي از جمله تلويزيون، كامپيوترها، پرينترها و ساير وسايل الكترونيكي در خانه و يا محل كار توسط اتصالات بدون سيم قابل دسترسي و استفاده باشند. همچنين بسياري از فروشندگان كامپيوتر، سعي بر اين دارند كه تجهيزات و كارتهاي Wi-Fi را در محصولات خود قرار دهند. علاوه بر اين، Wi-Fi در PDA ها و همچنين تلفن هاي پيشرفته نيز قرار گرفته است.
                        </p>

                        <br />
                        <br />

                        <span class="ph1">مفاهيم اوليه Wi-Fi</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            ايجاد اوليه يك شبكه بدون سيم توسط Wi-Fi كار آساني مي باشد. در ابتدا لازم اسـت يـك نقطه دسترسي يا Access point با توانايي اتصال به يك شبكه سيم بندي شده و يا اينترنت بوجود آيد. براي اتصال خانه ها و يا شركت هاي كوچك فقط كافي است توسـط DSL ها و يا هر روش اتصال مشابه با سرعت بالا به اين پايگاه متصل گرديد. هر وسيله و يا كامپيوتري كه مجهز به رابط اتصال براي Wi-Fi  باشد مي تواند با پايگاه اتصال برقرار كند. اكثر نقاط دسترسي داراي حداکثر مسافت دسترسي سيگنال بين50 الي 150  متر  است و اين سيگنال ها توانايي عبور از ديوار، سقف و پنجره را نيز دارند. نقاط دسترسي، كليه ترافيك خود را از تجهيزات بدون سيم در محدوده دسترسي خود دريافت كرده و سپس يك پل ارتباطي با شبكه گسترده مورد نظر ايجاد مي كنند. اين طرز نصب مانند اين است كه بخواهيم همه كاربران را به صورت متمركز و در واقع يكي شده در نظر بگيريم. براي ايجاد يك شبكه يكپارچه همچنين مي توان چندين نقطه دسترسي را در محوطه بزرگتري قرار داد. نقاط دسترسي خود مي توانند با يكديگر ارتباط داشته باشند و تبادل اطلاعات كنند، ولي با اين حال نيازي به پايگاه هاي بيشتر براي بهتر كردن وضعيت ارتباطات نيست، بلكه اين مشكل در استاندارد 802.11 به صورت بهينه اي رفع شده است و در راستاي حل آن طيف وسيعتري را در اختيار اين تكنولوژي قرار مي دهد.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            تحليل گران معتقدند بازار Wi-Fi به صورت گسترده اي تا چند سال آينده پيشرفت خواهـد كـرد. همچنين از آنجائيكه استاندارد Wi-Fi در تنظيمات laptop ها نيز قرار گرفته است، اين امر به ازدياد کاربران اين تکنولوژي کمک مي کند. در مورد بازار Wi-Fi، مي توانيم 4 دسته بندي كلي در مورد استفاده کنندگان داشته باشيم، كه البته هر كدام موضوعات خاص خود را خواهند داشت.
                        </p>
                        <br />


                        <span class="ph2"> استفاده كنندگان خانگي</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            انتظار مـي رود محصـولات Wi-Fi و استفاده از آنها در خانه ها در سال هايي كه در پيش رو داريم و همچنين سال هاي اخير بيشتر گسترش يابد. اين تكنولوژي كمك مي كند تا در خانه بتوانيم براي كامپيوترها و يا وسايل خانگي مجهز به كارت هاي بدون سيم، شبكه اي ايجاد كنيم، بدون اينكه نگران سيم كشي در فضاي خانه باشيم. حتي بسياري از شركت ها و كارخانجات سعي بر اين دارند تا تجهيزات خود را در سال هاي اخير به گونه اي طراحي و ارائه کنند كه تنظيمات و استفاده هاي بدون سيـم در آنـها ممـكن باشـد. از جمـله اين وسـايل مي توانيم به تجهيزاتي براي انتقال و پخش فايل هاي video و voice اشاره كنيم و از شركت هاي نمونه، Sony و Philips را مي توان نام برد. همچنين برخي از تجهيزات ايمني، از جمله كپسول هاي آتش نشاني، كنترل كننده برق و غيره را نيز به گونه اي طراحي مي كنند كه قابل استفاده از بيرون منزل در مواقع ضروري و به كمك تكنولوژي بدون سيم باشند. از آنجائيكه تجهيزات Wi-Fi نيازمند مجوز نمي باشند، لزوماَ براي برقراري ارتباطات نيازي به وجود service provider ها نيست. از طرف ديگر، ايجاد ارتباط با اينترنت و گسترش آن به خانه ها توسط تكنولوژي Wi-Fi ، اين امكان را براي service provider ها ايجاد مي كند تا از اين طريق ارتباط خود را با محصولاتي كه مطابق با تكنولوژي Wi-Fi هستند حفظ نمايند.
                        </p>

                        <br />


                        <span class="ph2">استفاده در شركت ها</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            شركت ها مي توانند از تكنولوژي Wi-Fi به صورت هاي متفاوتي براي بالا بردن بهره وري در امور خود استفاده كنند. براي مثال، كارمندان مي توانند در حين عبور از هال ها، رفت و آمد بين اتاق ها و كنفرانس ها و يا در هر مكاني كه هستند از اطلاعات موجود مورد نياز استفاده كنند. برخي شركت ها در حال ايجاد وسايل Multimode مي باشند كه بتوانند به صورت سيار با هر سيستم و يا شبكه مشابه ارتباط برقرار كنند و كارايي را در كار خود بالا ببرند. استفاده از تكنولوژي بدون سيم دو مزيت  عمده را براي  شركت ها به همراه دارد.  اولين مزيت وجود چنين شبكه اي در اين است كه سبب برقراري ارتباط دائم با كارمندان خواهد شد. حال اين ارتباط چه از طريق mail باشد و يا چه از طريق امكان دسترسي به فايل ها در هر زمان كه لازم به نظر مي رسد. مطالعات نشان داده است كه با استفاده از ارتباط بي سيم، كاربران علاوه بر مدت كار روزانه، به مدت 105 دقيقه در روز به طور متوسط، علاوه بر ساعت كاري در دسترس مي باشند. در ضمن با محاسبات صورت گرفته، هزينه اي كه براي ايجاد  دسترسي هر استفاده كننده و يا كارمند در شركت مصرف مي شود فقط با اضافه كار ميانگين 12 دقيقه در روز جبران خواهد شد.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            مزيت دوم اين شبكه ها، هزينه هاي پايين تر و به صرفه تر در پياده سازي و راه اندازي اين شبكه ها مي باشد. چرا كه اين سيستم ها به راحتي بر روي ساختار موجود سيم بندي شده قابل پياده سازي هستند، در ضمن  به راحتي مي توان آنها را گسترش داد و يا حتي به صورت دايمي و موقت به شبكه هاي ديگر متصل نمود.
                        </p>

                        <br />

                        <span class="ph2">Hot Spot  ها</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            Wireless Hot Spot  مي تواند يک محيط کوچک مثل يک کافه و يا حتي يک محدوده بزرگ تر مثل مرکز خريد و فروش و يا هتل باشد. به طور کلي  محدوده اي را گويند که به صورت يک WLAN  و يا شبکه اي ازWLAN   ها سرويس دهي شود. براي مشتري يا کاربر نهايي، محل يا مکاني است که کاربر مي تواند توسط يک پايانه سيار بدون سيم، مجهز به يک Laptop  ، يک PDA ، يک تلفن هوشمند و يا هر وسيله ديگري دسترسي به اينترنت داشته باشد. سرويس دهنده Hotspot  مستقيما مي تواند در آمد خود را از طريق استفاده و دسترسي کاربر از Hotspot  بگيرد. علاوه بر اين، اپراتور Hotspot  امکان دسترسي را براي کاربر به عنوان يک سرگرمي ايجاد مي کند تا به اين وسيله ميزان ترافيک کم شود و يا ساير محصولات و سرويس هاي خود را بفروشد. بازار استفاده از شبكه هاي بدون سيم در حال حاضر، گسترش قابل توجهي دارد. گروه هاي بسياري از مراكز تجاري درصدد ايجاد امكان دسترسي مسافران، مشتريان و . . . براي استفاده از اينترنت و يا دسترسي به شبكه هاي ديگر توسط Hot spot ها مي باشند.
                        </p>

                        <br />
                        <br />

                        <span class="ph1"> مقايسه استانداردهاي معروف IEEE 802.11x</span>
                        <br />


                        <div class="row text-center">
                            <div class="col-sm-12 col-md-5 text-left">
                                <img src="/img/Service/IEEE0.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-7 text-right">
                                <p style="line-height: 2;" align="justify">
                                    استاندارد IEEE 802.11 شامل انواع مختلفي از زير استانداردها مي شود که داراي خواص مربوط به خود مي باشند. خلاصه اي از اين استانداردها در جدول روبرو آورده شده است.
                                </p>
                                <br />
                                <p style="line-height: 2;" align="justify">
                                    استاندارد 802.11 داراي يک معماري سلولي مي باشد که کل سيستم به زير سلول هاي مختلفي تقسيم مي شود که به هر کدام از آنها BSS (Basic Service Set) گفته مي شود و توسط يک Base Station که Access Point ناميده مي شود، کنترل مي گردد. اکثر سيستم ها شامل چندين AP مي باشند که از طريق يک Backbone به يکديگر متصل مي باشند که به آن DS ( Distribution System) گفته مي شود. در نهايت يک سيستم که از سلول هاي مختلفي تشکيل شده است در يک لايه بالاتر در مدل OSI به صورت يک شبکه 802 ديده مي شود و به آن ESS (Extended Service Set) گفته مي شود. اين مساله در شکل زیر نشان داده شده است.
                                </p>
                                <br />
                                <img src="/img/Service/IEEE1.png" style="border-radius: 5px;" />
                            </div>
                        </div>


                        <br />
                        <p style="line-height: 2;" align="justify">
                            لايه هاي استاندارد IEEE 802.11 را نيز مي توان به صورت شکل (2) تقسيم بندي نمود. روش دسترسي پايه به رسانه در اين استاندارد Distributed Coordination Function ناميده مي شود که از روش CSMA/CA ( Carrier Sense Multiple Access with Collision Avoidance) استفاده مي کند. اين پروتکل بدين صورت عمل مي کند که يک ايستگاه که مي خواهد اطلاعات را ارسال نمايد رسانه را مورد بررسي قرار مي دهد اگر که رسانه مشغول باشد، ايستگاه ارسال خود را به زمان ديگري موکول مي کند و اگر که رسانه آزاد باشد اطلاعات را ارسال مي کند. هنگامي که تصادم روي مي دهد ايستگاه بر اساس يک تابع زماني نمايي اقدام به ارسال مجدد اطلاعات مي نمايد.
                        </p>
                        <div class="row text-center">

                            <img src="/img/Service/IEEE2.png" style="border-radius: 5px;" />


                        </div>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            اين روش به دو دليل در شبکه هاي بيسيم نمي تواند مورد استفاده قرار گيرد:
                        </p>
                        <p style="line-height: 2;" align="justify">
                            1.	پياده سازي الگوريتم آشکار سازي تصادم نياز به پياده سازي سيستم هاي راديويي Full Duplex دارد که بتوانند ارسال و دريافت را به صورت هم زمان انجام دهند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            2.	در سيستم هاي بيسيم نمي توانيم فرض کنيم که تمام ايستگاهها مي توانند يکديگر را مورد شنود قرار دهند ( اين در واقع اساس روش CSMA مي باشد) بنابراين وقتي که يک ايستگاه تشخيص مي دهد که رسانه آزاد است ممکن است در عمل اين گونه نباشد.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            براي پرهيز از اين مساله در استاندارد 802.11 از مکانيزم آشکار سازي تصادم به همراه Positive Acknowledge استفاده مي شود که عملکرد آن به صورت زير است:
                        </p>
                        <p style="line-height: 2;" align="justify">
                            ايستگاهي که مي خواهد اطلاعات را ارسال نمايد، رسانه را مورد بررسي قرار مي دهد اگر که رسانه مشغول باشد ارسال انجام نمي گيرد، اما اگر که رسانه براي يک زمان مشخص خالي بود (DIFS Distributed Inter Frame Space) آنگاه ايستگاه اطلاعات را ارسال مي کند، ايستگاه گيرنده کد CRC بسته هاي دريافتي را بررسي نموده و يک بسته ACK ( Acknowledgement) ارسال مي کند. دريافت يک بسته ACK نشان مي دهد که ارسال بدون تصادم بوده است. اما اگر که فرستنده اين بسته را دريافت نمايد دوباره بسته اطلاعات را ارسال مي کند تا ACK را دريافت نمايند.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            براي کاهش احتمال اين که تصادم رخ دهد و به اين دليل که در شبکه هاي بيسيم ممکن است تمام ايستگاهها نتوانند اطلاعات يکديگر را شنود نمايند، يک استاندارد با نام Virtual Carrier Sense تعريف شده است که به صورت زير عمل مي کند:
                            يک ايستگاه که مي خواهد اطلاعات ارسال نمايد ابتدا يک بسته اطلاعات کنترلي با نام RTS ( Request To Send) ارسال مي کند که شامل مقصد، مبدا و زمان مکالمه مي باشد. مقصد نيز به آن با ارسال يک بسته به نام CTS ( Clear to Send) پاسخ مي دهد. تمام ايستگاهها اين بسته ها را دريافت مي نمايند و نشانگر Virtual Carrier Sense خود را بر اساس اين زمان تنظيم مي نمايند و از آن براي تصميم گيري در مورد ارسال استفاده مي کنند. اين مکانيزم باعث کاهش احتمال تصادم مي شود. زمان بندي هاي مختلف اين پروتکل در شکل زیر نشان داده شده است.

                        </p>
                        <div class="row text-center">
                            <img src="/img/Service/IEEE3.png" style="border-radius: 5px;" />
                        </div>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در شبکه هاي بيسيم بنا به دلايل زير ترجيحا بسته هاي اطلاعاتي به صورت کوچک تر ارسال مي گردند:
                        </p>

                        <ul>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>به اين دليل که Bit Error Rate در شبکه هاي بيسيم بالاتر مي باشد احتمال اين که بسته از بين برود با بزرگ تر شدن حجم بسته بالاتر مي رود. </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>وقتي که بسته بنا به دلايل تصادم و يا نويز خراب مي شود، بسته هاي کوچک تر سربار کمتري ايجاد مي نمايند.  </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>در سيستم هاي Frequency Hopping، رسانه براي زمان هاي پريوديک معمولا 20 ميلي ثانيه وقفه داده مي شود بنابراين شانس ارسال بسته هاي کوچک تر بيشتر مي باشد.  </li>



                        </ul>
                        <br />
                        <span class="ph2">Roaming</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            Roaming  پروسه اي است که در آن وقتي از يک سلول به سلول ديگر حرکت صورت مي گيرد، ارتباط قطع نشود. اين سيستم همانند Handover در تلفن هاي سلولي است اما دو فرق عمده با آن دارد:
                        </p>
                        <ul>
                            <li>1.	در سيستم LAN که بر اساس بسته ها مي باشد، رفتن از يک سلول به سلول ديگر در لايه بسته ها صورت مي گيرد اما در سيستم تلفن در طول يک تماس تلفني اين مساله صورت مي پذيرد بنابراين در يک LAN اين مساله ساده تر مي باشد.  </li>
                            <li>2.	در سيستم تلفن يک قطع ارتباط کوتاه نمي تواند تاثير زيادي برروي مکالمه داشته باشد اما در شبکه هاي LAN کارآيي سيستم پايين مي آيد به اين دليل که ارسال مجدد از لايه هاي بالاتر بايد صورت پذيرد.  </li>

                        </ul>
                        <p style="line-height: 2;" align="justify">
                            در استاندارد 802.11 مطلبي در مورد نحوه Roaming مشخص نشده است اما ابزارهاي پايه اي وجود دارد که شامل Active/ Passive Scanning, Re-Association Process مي باشد.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            در ادامه به صورت جداگانه به بررسي هر کدام از اين استانداردها مي پردازيم.
                        </p>

                        <span class="ph2">IEEE 802/11b </span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            استاندارد 802/11b, اولين استاندارد در بين استانداردهاي بدون سيم محلي مي باشد که به صورت گسترده و در مقياس هاي بزرگ مورد استفاده قرار گرفت. مي توان گفت استاندارد 802/11b به صورت خاص، استانداردي است در لايه فيزيکي براي WLAN ها که در پهناي باندي حدود 2/4GHz با نرخ لينک 11Mbps در هر کانال عمل مي کنند و از تکنولوژي DSSS (Direct Sequencing Spread Spectrum) بهره مي برند. در چنين باندهايي, سه کانال راديويي که WLAN ها در آن عمل مي کنند وجود دارد. هر چند ميزان ماکزيمم نرخ لينک 11Mbps است, اما گذردهي براي هر کاربر حدود نصف اين مقدار خواهد بود, چرا که گذردهي در بين همه کاربران در کانال مشترکي قرار دارد. همچنين بايد به اين نکته نيز توجه نمود که ميزان نرخ انتقال ديتا با افزايش فاصله کاربر از Access point ها کاهش خواهد يافت. يك مساله مهم در اين استاندارد آن است كه داراي قابليت Dynamic Rate Shifting مي باشد بدين معني كه مي تواند نرخ ارسال داده را بر اساس شرايط كانال وفق دهد.
                        </p>
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-5 text-left">
                                <img src="/img/Service/IEEE4.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-7 text-right">
                                <p style="line-height: 2;" align="justify">
                                    در اين استاندارد پهناي باند به 14 كانال تقسيم بندي مي شود كه مي توان از 11 تاي آنها استفاده نمود. پهناي باند هر كانال 25MHz مي باشد. به طور همزمان فقط مي توان از 3 كانال آن استفاده نمود.  در جدول روبرو مقدار کانال هاي گستره فرکانسي که کشورهاي متفاوت در اين استاندارد استفاده مي کنند آمده است.
                                </p>
                                <p style="line-height: 2;" align="justify">
                                    رقابت در استفاده از طيف راديويي 2.4 GHz  در بين انواع تجهيزات بسيار است. اما متاسفانه, اغلب اين وسايل و رابط ها, از تجهيزات خانگي مانند مايکر ويوها و تلفن هاي بدون سيم خانگي هستند.
                                </p>
                                <br />

                            </div>
                        </div>

                        <br />
                        <span class="ph2">802/11a</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            همزمان با بهينه سازي استاندارد 802/11 b, استاندارد 802/11 a نيز تغييراتي نمود. 802/11 a استانداردي براي لايه فيزيکي در شبکه هاي WLAN مي باشد. اين استاندارد در پهناي باندي حدود 5GHz و با ماکزيمم نرخ لينک 54Mbps در هر کانال عمل مي کند و از تکنولوژي OFDM استفاده مي کند. البته Wi-Fi همچنان نيازمند و خواهان 255MHz طيف علاوه بر استاندارد حاضر است و همچنين امکان گسترش آن تا 19 کانال در حال بررسي مي باشد. همانند 802/11 b, ماکزيمم ميزان گذردهي در حدود نصف نرخ لينک 54Mbps مي باشد و ميزان اين نرخ ديتا در صورت افزايش فاصله کاربر و Access Point کاهش مي يابد. 802/11 a نسبت به 802/11 b چندين مزيت دارد. در حالت کلي, مي توان گفت ميزان گذردهي ديتا در 802/11 a بيشتر مي باشد. همچنين افزايش کانال ها در اين استاندارد ميزان تداخل احتمالي بين نقاط دسترسي را کاهش مي دهد و به دليل اينکه باند با ظرفيت 5GHz نسبت به 2.4GHz ترافيک کمتري دارد ميزان تداخل کاهش پيدا مي کند. در نتيجه يک پهناي باند 54GHz مي تواند تعداد WLAN هاي بيشتري را همراه با تعداد کاربران با سرعت بالاتري پشتيباني کند. البته نبايد فراموش کرد که 802/11 a نيز داراي معايبي مي باشد. مهترين نکته  اين است که چون 802/11 a در باند با ظرفيت بالاتري عمل مي کند, ميزان محدوده و بردي که هر Access Point مي تواند تحت پوشش قرار دهد کوتاه تر و کمتر خواهد بود, در نتيجه تعداد بيشتري نقاط دسترسي در 802/11 a لازم مي باشند تا بتوانند همان محدوده تحت پوشش 802/11 b را سرويس دهي نمايند. دومين مشکل اين استاندارد, در عدم تطبيق محصولات آن با محصولات 802/11 b مي باشد. به همين دليل, بسياري از مشتريان ترجيح مي دهند از محصولات 802/11 b که هماهنگي کاري بيشتري با تکنولوژي روز دارند استفاده نمايند, به ويژه که قصد استفاده از Hotspot ها و سرويس هاي جانبي ديگري را داشته باشند. البته برخي از شرکت ها در حال توليد کارت هايي براي رفع اين مشکل مي باشند. همان طور که گفته شد اين استاندارد در فركانس 5 GHz كه باند U-NII (National Information Infrastructure) ناميده مي شود در باندهاي 5.15-5.25 , 5.25-5.35, 5.725-5.825 GHz عمل مي كند. نرخ ارسال داده در اين استاندارد بين 6 تا 54 Mbps در تغيير مي باشد. در اين طيف فركانسي 20 كانال 20 MHz وجود دارد كه IEEE 802.11a از 8 كانال آن استفاده مي كند. در لايه فيزيكي از OFDM استفاده مي كند كه سيگنال هاي ارسالي را به 52 Sub-Carrier تقسيم بندي مي كند. 4 عدد از اين Sub-Carrier‌ها، Pilot Sub-Carrier خوانده مي شوند كه از آنها به عنوان مرجع استفاده مي كند. از 48 Sub-Carrier ديگر براي ارسال اطلاعات به صورت موازي استفاده مي شود. در واقع هر 20MHz كه مربوط به يك كانال مي گردد با استفاده از OFDM به 52 Sub-Carrier تقسيم بندي مي شود كه هر كدام از آنها برابر با 300 KHz خواهد بود و 48 تاي آنها براي ارسال اطلاعات استفاده مي شود. براي ارسال 54 Mb/s از QAM 64 تايي در لايه فيزيكي استفاده مي گردد كه به ازاي هر سمبل 6 بيت ارسال مي كند. بايد به اين نكته توجه نمود كه دستيابي به بيشترين نرخ ارسال به شرايط مناسب و در كمترين فاصله امكان پذير مي باشد. در لايه MAC نيز از روش CSMA/CA استفاده مي كند.
                        </p>
                        <br />

                        <span class="ph2"> IEEE 802/11 g </span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            اين استاندارد, مدل پيشرفته 802/11 b است و با سرعت و در گستره بالاتري عمل مي کند. نرخ ديتا در اين استاندارد در حدود 59Mbps و در باند 2/4GHz است. طرح اوليه اين استاندارد در نوامبر سال 2001 مورد تاييد واقع شد و نسخه کامل آن در اوايل سال 2003 مورد بررسي قرار گرفته است. استاندارد 802/11 g از تکنولوژي OFDM استفاده کرده و البته مطابق با استاندارد 802/11 b است. اين استاندارد جديد مدلاسيون Code Keying و Packet Binary Convolution Coding  را پشتيباني مي نمايد. هر چند 802/11 g توانسته است به سرعتي معادل استاندارد 802/11 a برسد, اما همچنان کمبود کانال ها و توانايي سرويس دهي به کاربران با تعداد زياد در WLAN را ندارد. اين استاندارد مي تواند بردي 5/1 برابر دو استاندارد ديگر داشته باشد. بنابراين يك محدوده مشخص را مي تواند با حدود نصف Access Point پوشش دهد. به اين دليل كه در يك محيط كاربران بايد پهناي باند را به اشتراك گذارند، بالا بردن گستره پوشش باعث مي شود كه محدوده اي كه فركانس به اشتراك گذاشته مي شود، بالاتر رود. همچنين برد بالاتر امنيت سيستم را كاهش مي دهد. اما اين مشكل را مي توان با آنتن هاي جهت دار برطرف نمود. بنابراين اين استاندارد براي محيط هايي مناسب است كه تعداد كمي كاربر در آن وجود دارد و يا اين كه كاربران به يك ارتباط با سرعت بالا نياز ندارند. براي محيط هاي شلوغ همانند كنفرانس پيشنهاد مي گردد از 802.11a استفاده گردد.
                        </p>
                        
                        <br />

                        <span class="ph2">مقايسه 802.11a و 802.11g </span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            به صورت نمونه مي توان دو استاندارد 802.11a و 802.11g را با هم مقايسه نمود. مشخصات مربوط به اين دو استاندارد در جدول زیر آورده شده است. سطح نويز در فرکانس 2.4Ghz بالاتر مي باشد. بنابراين 3% از بسته هاي ارسالي در 802.11g بايد دوباره ارسال شوند. 
                        </p>
                        <div class="row text-center">
                            <img src="/img/Service/IEEE5.png" style="border-radius: 5px;" />
                        </div>
                    </div>
                </div>


            </div>
            <br /><br />

        </div>
    </div>
</section>


