
@{
    ViewData["Title"] = "WiFiMetro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="bg-one direction">
    <div class="container">
        <div class="row">


            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>
                    <span class="color">
                        شبکه های بيسيم کامپیوتری Metro Wi-Fi
                    </span>
                </h2>
                <div class="border"></div>
            </div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="wrap-about">


                    <div class="about-content text-right">

                        <p style="line-height: 2;" align="justify">
                            یکی از مسائلی که همیشه در پوشش شبکه کامپیوتری مکان های بزرگ همانند دانشگاهها، سازمان های بزرگ، کارخانه ها، پارک ها و ... با آن رو برو هستیم، انتخاب یک استاندارد و محصول مناسب می باشد.
                            تاکنون روش ها و استانداردهای گوناگونی برای این مساله ارائه گردیده است که هر کدام دارای نقاط قوت و ضعف مربوط به خود می باشد.
                            آخرین فناوری ارائه شده در این زمینه که در سال 2005 به وجود آمده است، فناوری Metro Wi-Fi می باشد.

                        </p>
                        <p style="line-height: 2;" align="justify">
                            با استفاده از این فناوری می توان به قابلیت های زیر دست یافت:
                        </p>
                        <ul>

                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>ظرفیت تعداد کاربران بالا </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پهنای باند بالا </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>پایداری و قابلیت اطمینان بالا </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>ارائه سرویس های متعدد بر روی بستر شبکه بیسیم </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قابلیت مدیریت مرکزی کاربران  </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>امنیت بالا </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>قابلیت Roaming بین Access Point ها بدون قطع تماس </li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>نصب و راه اندازی بسیار آسان  </li>



                        </ul>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در این سیستم Access Point ها در دو باند فرکانسی 2.4 GHz مبتنی بر استانداردهای IEEE 802.11 b,g,n و در فرکانس 5 GHz و مبتنی بر استاندارد IEEE 802.11 a فعالیت می کنند.
                            فناوری به کار رفته در طراحی این Access Point ها مبتنی بر MIMO است که باعث گردیده قدرت دریافت سیگنال های ضعیف و چند مسیره را نیز پیدا نماید.

                        </p>
                        <p style="line-height: 2;" align="justify">
                            مهم ترین مزیت این سیستم آن است که می توان یک محوطه بسیار بزرگ را با استفاده از تعداد مناسبی از این Access Point ها تحت پوشش درآورد به گونه ای که کاربر متحرک بتواند بدون قطع ارتباط خود با شبکه کامپیوتری به طور آزادانه و با هر سرعتی در این محوطه حرکت نماید و از سرویس هایی همانند اینترنت، نظارت تصویری، تلفن اینترنتی و ... استفاده نماید.
                        </p>
                        <p style="line-height: 2;" align="justify">
                            در ادامه ویژگی های مهم این نوع Access Point ها شرح داده می شود.
                        </p>

                        <span class="ph1">آنتن ها و پورت های ارتباطی Access Point</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در شکل زیر یک نمونه Access Point مبتنی بر فناوری Metro Wi-Fi نشان داده شده است.
                        </p>

                        <div class="row text-center">
                            <div class="col-sm-12 col-md-5 text-right">
                                <img src="/img/Service/Metro1.png" style="border-radius: 5px;" />
                            </div>
                            <div class="col-sm-12 col-md-7 text-right">
                                <p style="line-height: 2;" align="justify">
                                    آنتن هایی که در بالای رادیو قرار دارند برای استاندارد IEEE 802.11 b/g/n (2.4 GHz) و آنتن هایی که در زیر رادیو قرار دارند برای استاندارد IEEE 802.11a (4.9 GHz) در نظر گرفته شده اند.
                                    یک کانکتور به عنوان پورت Ethernet نیز در Access Point تعبیه گردیده است که سرعت 100 Mbps را ارائه می نماید. بر اساس آنکه رادیو به چه صورتی پیکربندی شود، این پورت می تواند برای ارتباط با بستر شبکه و یا برای دریافت اطلاعات از تجهیزات جانبی همانند دوربین مورد استفاده قرار گیرد.

                                </p>
                                <p style="line-height: 2;" align="justify">
                                    همچنین یک قابلیت ویژه برروی Access Point در نظر گرفته شده است که درون خود دارای یک مودم  SHDSL می باشد. با استفاده از این ویژگی می توان Access Point را از طریق خط تلفن و تا فاصله 3 کیلومتر و با سرعت 22 Mbps به LAN و یا اینترنت متصل نمود.
                                </p>
                                <p style="line-height: 2;" align="justify">
                                    همچنین می توان توان مورد نیاز Access Point را از طریق همین خط تلفن دریافت نمود.
                                    علاوه بر پورت های ذکر شده، یک کانکتور برای ارتباط سریال نیز برروی Access Point وجود دارد که می تواند برای تنظیمات اولیه و رفع عیب مورد استفاده قرار گیرد.

                                </p>
                                <p style="line-height: 2;" align="justify">
                                    استاندارد به کار رفته در این فناوری، 802.11n می باشد. به دلیل این که این سیستم از MIMO (Multiple Input Multiple Output) که در استاندارد IEEE 802.11n در نظر گرفته شده، استفاده می کند، بنابراین نیاز به استفاده از چندین آنتن دارد. در این روش هر آنتن به صورت جداگانه سیگنال های چند مسیره را در محیط دریافت می نماید و Access Point با استفاده از روش MRC ( Maximal Ratio Combining) سیگنال های دریافتی را پردازش نموده و آنها را با یکدیگر ترکیب می نماید. بنابراین Access Point می تواند سیگنال های بسیار ضعیف دریافتی را نیز به صورت صحیح مورد تشخیص قرار دهد.
                                </p>
                            </div>

                        </div>
                        <br />
                        <br />

                        <span class="ph1">نحوه نصب فیزیکی</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            با توجه به ویژگی MIMO و نیز کیت های نصب مختلف، می توان Access Point را در مکان های مختلفی همانند تیر روشنایی برق، دکل، درخت، دیوار، پشت بام و غیره نصب نمود.
                        </p>
                        <br />
                        <br />

                        <span class="ph1">نحوه اتصال Access Point به شبکه LAN و یا Internet</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            همان گونه که ذکر گردید برای اتصال Access Point به شبکه LAN و یا Internet می توان از روش های مختلفی استفاده نمود که مهم ترین این روش ها در ادامه مورد بررسی قرار گرفته است.
                        </p>

                        <span class="ph2">استفاده از خط تلفن</span>
                        <br />


                        <div class="row text-center">
                            <div class="col-sm-12 col-md-6 text-right">
                                <img src="/img/Service/Metro2.png" style="border-radius: 5px;" />

                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <p style="line-height: 2;" align="justify">
                                    با استفاده از خط تلفن و یک ماژول مرکزی SHDSL می توان Access Point را از فاصله 3 کیلومتری به LAN و یا شبکه اینترنت متصل نمود.
                                </p>
                                <p style="line-height: 2;" align="justify">
                                    مزیت عمده این روش آن است که برق مصرفی Access Point هم برروی خط تلفن ارسال می گردد و Access Point نیاز به منبع تامین برق دیگری ندارد.
                                </p>
                                <p style="line-height: 2;" align="justify">
                                    در یک محیط بزرگ می توان تعداد زیادی Access Point (200 دستگاه Access Point) را با همین روش به یک سیستم مرکزی متصل نموده و تمامی آنها و کاربران آنها را به صورت مرکزی مدیریت نمود.
                                </p>
                            </div>

                        </div>
                        <br />
                        <span class="ph2">برقراری ارتباط از طریق Backhaul بیسیم</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            در مکان هایی که امکان استفاده از سیم تلفن، کابل شبکه و یا فیبر نوری وجود نداشته باشد، می توان از لینک  5 GHz Access Point ها برای تبادل اطلاعات با یکدیگر و در نهایت با Access Point مرکزی که به LAN و یا اینترنت متصل است، استفاده نمود. در این روش Access Point ها باید به گونه ای نصب شوند که در پوشش رادیویی یکدیگر قرار داشته باشند.
                        </p>
                        <div class="row text-center">

                            <img src="/img/Service/Metro4.png" style="border-radius: 5px;" />

                        </div>
                        <br />

                        <span class="ph1">وسعت پوشش در فضای آزاد</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            وسعت تحت پوشش هر Access Point در فضای آزاد به شرح زیر می باشد:
                        </p>
                        <p style="line-height: 2;" align="justify">
                            در فرکانس 2.4 GHz و برای استانداردهای IEEE 802.11 b,g,n: تا فاصله 500 متر
                        </p>
                        <p style="line-height: 2;" align="justify">
                            در فرکانس 5 GHz و برای استانداردهای IEEE 802.11 a: تا فاصله 700 متر
                        </p>
                        <br />
                        <br />


                        <span class="ph1">تعداد کاربران</span>
                        <br />
                        <p style="line-height: 2;" align="justify">
                            تعداد کاربران در فرکانس 2.4 GHz و برای استانداردهای IEEE 802.11 b,g,n : همزمان 100 کاربر
                        </p>
                        <p style="line-height: 2;" align="justify">
                            تعداد کاربران در فرکانس 5 GHz و برای استانداردهای IEEE 802.11 a : همزمان 100 کاربر
                        </p>

                        <br />
                        <br />

                        <span class="ph1">سایر ویژگی ها</span>
                        <br />
                        <br />
                        <span class="ph2">پروتکل هایی که توسط Access Point پشتیبانی می شود</span>
                        <ul>

                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>IEEE 802.1D Bridging</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>IEEE 802.1Q VLANS</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>IEEE 802.1p VLAN priority</li>

                        </ul>
                        <br />
                        <span class="ph2">مدیریت</span>
                        <ul>

                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>HTTPS, SSH, TR-069</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>RADIUS password authentication</li>
                            <li>&nbsp;<i class="fa fa-circle">&nbsp;</i>MAC Address Control list</li>

                        </ul>


                        <br />
                        <br />

                    </div>
                </div>


            </div>
            <br /><br />

        </div>
    </div>
</section>


