<!DOCTYPE html>

<html class="no-js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="کاما انرژی - میتوان راحت تر زندگی کرد ">

    <meta name="author" content="">

    <title>cama | smart building</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />


    <environment include="Development">

        <link href="~/Admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/media-queries.css" rel="stylesheet" />
        <link href="~/css/family=Oswald.css" rel="stylesheet" />
        <link href="~/css/family=Ubuntu.css" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/animate.css" rel="stylesheet" />
        <link href="~/css/owl.carousel.css" rel="stylesheet" />
        <link href="~/css/component.css" rel="stylesheet" />
        <link href="~/css/slit-slider.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />

    </environment>

    <environment include="Staging,Production">

        <link href="~/Admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/media-queries.css" rel="stylesheet" />
        <link href="~/css/family=Oswald.css" rel="stylesheet" />
        <link href="~/css/family=Ubuntu.css" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/animate.css" rel="stylesheet" />
        <link href="~/css/owl.carousel.css" rel="stylesheet" />
        <link href="~/css/component.css" rel="stylesheet" />
        <link href="~/css/slit-slider.css" rel="stylesheet" />
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>



    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54152927-1', 'auto');
        ga('send', 'pageview');


    </script>

</head>
<body id="body">

    <div id="loading-mask">
        <div class="loading-img">
            <div class="pulse"></div>
        </div>
    </div>


    <header id="navigation" class="navbar navbar-inverse">

        <div class="container">


            <nav class="navbar navbar-dark">
                <div class="container-fluid text" dir="rtl">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#body">
                            <h1 id="logo">
                                <img src="/img/logo-meghna.png" alt="CamaEnergy" />
                            </h1>
                        </a>
                    </div>



                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Home" asp-action="Index">خانه</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">درباره کاما <span class="caret"></span></a>
                                <ul class="dropdown-menu" dir="rtl">
                                    <li><a asp-controller="Home" asp-action="PishGoftar">پیش گفتار</a></li>
                                    <li><a asp-controller="Home" asp-action="Manshur">منشور اخلاقی</a></li>
                                    <li><a asp-controller="Home" asp-action="Certificate">گواهینامه ها و تاییدیه ها</a></li>
                                    <li><a asp-controller="Home" asp-action="CamaTeam">همکاران کلیدی ما</a></li>
                                </ul>
                            </li>



                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">خدمات <span class="caret"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown2">
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">تکنولوژی های نوین&nbsp;<span class="fa fa-caret-left"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                            <li><a asp-controller="Home" asp-action="SmartSystemIot">اینترنت اشیا در سیستم هوشمند</a></li>
                                            <li><a asp-controller="Home" asp-action="SmartParking">پارکینگ هوشمند</a></li>
                                            <li><a asp-controller="Home" asp-action="IPTV">سیستم تلویزیون تحت شبکه</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">سیستم هوشمند ساختمان&nbsp;<span class="fa fa-caret-left"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                            <li><a asp-controller="Home" asp-action="Interface">Interface</a></li>
                                            <li><a asp-controller="Home" asp-action="SmartBuilding">امکانات ساختمان هوشمند</a></li>
                                            <li><a asp-controller="Home" asp-action="WhySmart">چرا هوشمند سازی</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">فناوری اطلاعات و شبکه&nbsp;<span class="fa fa-caret-left"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                            <li><a asp-controller="Home" asp-action="StructureCabling">Structure-Cabling</a></li>
                                            <li><a asp-controller="Home" asp-action="WiFiMetro">WiFi-Metro</a></li>
                                            <li><a asp-controller="Home" asp-action="WiFiSolutionGuide">WiFi-SolutionGuide</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">مدیریت انرژی ساختمان BMS&nbsp;<span class="fa fa-caret-left"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                            <li><a asp-controller="Home" asp-action="EnergyMeter">انرژی میتر</a></li>
                                            <li><a asp-controller="Home" asp-action="EnergyManage">مدیریت انرژی ساختمان</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">محصولات <span class="caret"></span></a>
                                    <ul class="dropdown-menu" dir="rtl">
                                        <li><a asp-controller="Home" asp-action="ProductList">سیستم هوشمند ساختمان</a></li>
                                        <li><a asp-controller="Home" asp-action="ProductList">مدیریت انرژی ساختمان</a></li>
                                        <li><a asp-controller="Home" asp-action="ProductList">فناوری اطلاعات و شبکه</a></li>
                                        <li><a asp-controller="Home" asp-action="ProductList">سیستم صوتی و تصویری</a></li>

                                    </ul>
                                </li>*@


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">محصولات <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">سیستم هوشمند ساختمان&nbsp;<span class="fa fa-caret-left"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                            @*<li><a href="../Home/ProductList?cid=11">Vimar</a></li>*@
                                            <li><a href="../Home/ProductList?cid=12">ABB</a></li>
                                            <li><a href="../Home/ProductList?cid=13">Interra</a></li>
                                            @*<li><a href="../Home/ProductList?cid=14">Orvibo</a></li>*@

                                        </ul>
                                    </li>

                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">مدیریت انرژی ساختمان&nbsp;<span class="fa fa-caret-left"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                            @*<li><a href="../Home/ProductList?cid=21">GFR</a></li>*@
                                            <li><a href="../Home/ProductList?cid=22">Netix</a></li>
                                            <li><a href="../Home/ProductList?cid=23">Belimo</a></li>

                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">فناوری اطلاعات و شبکه&nbsp;<span class="fa fa-caret-left"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                            <li><a href="../Home/ProductList?cid=31">Crestron</a></li>

                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">سیستم صوتی و تصویری&nbsp;<span class="fa fa-caret-left"></span></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                            <li><a href="../Home/ProductList?cid=41">Kef</a></li>
                                            <li><a href="../Home/ProductList?cid=42">Yamaha</a></li>
                                            <li><a href="../Home/ProductList?cid=43">B&W</a></li>
                                            <li><a href="../Home/ProductList?cid=44">Epson</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">پروژه ها <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="../Home/ProjectaList?cid=1">مسکونی</a></li>
                                    <li><a href="../Home/ProjectaList?cid=2">اداری</a></li>
                                    <li><a href="../Home/ProjectaList?cid=3">تجاری</a></li>
                                    <li><a href="../Home/ProjectaList?cid=4">هتل</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">مرکز دانلود <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Home" asp-action="proposal">پروپوزال</a></li>
                                    <li><a asp-controller="Home" asp-action="Learning">مطالب آموزشی</a></li>
                                    <li><a asp-controller="Home" asp-action="Video">ویدئو</a></li>
                                    <li><a asp-controller="Home" asp-action="Catalog">کاتالوگ محصولات</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">اخبار <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Home" asp-action="AllNews" asp-route-id="2">اخبار شرکت</a></li>
                                    <li><a asp-controller="Home" asp-action="AllNews" asp-route-id="1">اخبار روز</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller="Home" asp-action="Gallery">گالری تصاویر</a></li>
                            <li><a asp-controller="Home" asp-action="ContactUs">تماس با ما</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        </div>
    </header>

    @RenderBody()

    <footer id="footer" class="bg-one">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="500ms">
                <div class="col-lg-12">


                    <div class="social-icon">
                        <ul>
                            <li><a target="_blank" href="https://instagram.com/cama_energy?igshid=1rsadmse5sjc"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" href="https://wa.me/989058172829"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>

                    <div class="copyright text-center">
                        <img src="/img/logo-meghna.png" alt="Meghna" />
                        <br />

                        <p>کپی رایت &copy; 2020. تمام حقوق محفوظ است.</p>
                    </div>


                </div>
            </div>
        </div>
    </footer>

    <a href="javascript:;" id="scrollUp">
        <i class="fa fa-angle-up fa-2x"></i>
    </a>


    <environment include="Development">
        <script src="~/js/modernizr-2.6.2.min.js"></script>
        <script src="~/js/jquery-1.11.0.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.slitslider.js"></script>
        <script src="~/js/jquery.ba-cond.min.js"></script>
        <script src="~/js/jquery.parallax-1.1.3.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.mixitup.min.js"></script>
        <script src="~/js/jquery.appear.js"></script>
        <script src="~/js/easyPieChart.js"></script>
        <script src="~/js/jquery.easing-1.3.pack.js"></script>
        <script src="~/js/tweetie.min.js"></script>
        <script src="~/js/jquery.nav.js"></script>
        <script src="~/js/jquery.sticky.js"></script>
        <script src="~/js/jquery.countTo.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/jquery.fitvids.js"></script>
        <script src="~/js/grid.js"></script>
        <script src="~/js/custom.js"></script>
    </environment>

    <environment include="Staging,Production">

        <script src="~/js/modernizr-2.6.2.min.js"></script>
        <script src="~/js/jquery-1.11.0.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.slitslider.js"></script>
        <script src="~/js/jquery.ba-cond.min.js"></script>
        <script src="~/js/jquery.parallax-1.1.3.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.mixitup.min.js"></script>
        <script src="~/js/jquery.appear.js"></script>
        <script src="~/js/easyPieChart.js"></script>
        <script src="~/js/jquery.easing-1.3.pack.js"></script>
        <script src="~/js/tweetie.min.js"></script>
        <script src="~/js/jquery.nav.js"></script>
        <script src="~/js/jquery.sticky.js"></script>
        <script src="~/js/jquery.countTo.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/jquery.fitvids.js"></script>
        <script src="~/js/grid.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {

            $('.navbar .dropdown-item').on('click', function (e) {
                var $el = $(this).children('.dropdown-toggle');
                var $parent = $el.offsetParent(".dropdown-menu");
                $(this).parent("li").toggleClass('open');

                if (!$parent.parent().hasClass('navbar-nav')) {
                    if ($parent.hasClass('show')) {
                        $parent.removeClass('show');
                        $el.next().removeClass('show');
                        $el.next().css({ "top": -999, "right": -999 });
                    } else {
                        $parent.parent().find('.show').removeClass('show');
                        $parent.addClass('show');
                        $el.next().addClass('show');
                        $el.next().css({ "top": $el[0].offsetTop, "right": $parent.outerWidth() - 4 });
                    }
                    //  e.preventDefault();
                    e.stopPropagation();
                }
            });

            $('.navbar .dropdown').on('hidden.bs.dropdown', function () {
                $(this).find('li.dropdown').removeClass('show open');
                $(this).find('ul.dropdown-menu').removeClass('show open');
            });

        });
    </script>

</body>
</html>
